<form nz-form nzLayout="vertical" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <nz-form-item class="mb-3">
    <nz-form-label nzRequired>Nueva Contraseña</nz-form-label>
    <nz-form-control [nzErrorTip]="pwdErrorTip" nzErrorTip="Debe tener al menos 6 caracteres">
      <ng-template #pwdErrorTip>
        @if (passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched) {
          <p>El campo es requerido.</p>
        } @else if (passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched) {
          La contraseña debe tener al menos 8 caracteres.
        } @else if (passwordForm.get('newPassword')?.hasError('pattern') && passwordForm.get('newPassword')?.touched) {
          La contraseña debe contener al menos:
          <ul class="mb-0" style="font-size: 13px;">
            <li>Una letra minúscula</li>
            <li>Una letra mayúscula</li>
            <li>Un número</li>
            <li>Un carácter especial (Ej: &#64;$!%*?&)</li>
          </ul>
        }
      </ng-template>
      <input nz-input type="password" formControlName="newPassword" placeholder="Nueva contraseña" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Confirmar Contraseña</nz-form-label>
    <nz-form-control [nzErrorTip]="pwdConfErrorTip">
      <ng-template #pwdConfErrorTip>
        @if (passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword')?.touched) {
          <p>El campo es requerido.</p>
        } @else if (passwordForm.get('confirmPassword')?.touched && passwordForm.hasError('passwordMismatch')) {
          Las contraseñas no coinciden.
        }
      </ng-template>
      <input nz-input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña" />
    </nz-form-control>
  </nz-form-item>

  <div class="flex justify-end gap-3 pt-6">
    <button *ngIf="showCancelButton" nz-button nzType="default" type="button" (click)="cancelForm()">Cancelar</button>
    <button nz-button nzType="primary" type="submit">Confirmar</button>
  </div>
</form>
