<div class="layout">

    <header>
        <div class="list-document-container">
            <div class="user-data">
                <span>{{clientSelected.razonSocial ? clientSelected.razonSocial : ''}}</span>
                <span>{{clientSelected.typeProvider ? clientSelected.typeProvider : ''}}</span>
                <!-- <span>Cedula: {{clientSelected.identificacion ? clientSelected.identificacion : ''}}</span> -->
                <span>{{clientSelected.identificacion ? clientSelected.identificacion : ''}}</span>
            </div>
            <div class="logo">
                <img [src]="clientSelected ? clientSelected.urlHeader : 'assets/img/logo-hone.png' "
                    alt="Logo">
            </div>
        </div>
    </header>

    @if (clientSelected.idClientHoneSolutions == 4) {
    <section id="download-documents">
        <div class="container-documents" nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">

            <div class="item-container-documents" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8"
                [nzXXl]="8">
                <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
                    <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18" class="text-lg">
                        Documentos obligatorios a diligenciar (descargar)
                    </h2>

                    <div nz-col>
                        <img src="../../../../../assets/img/carbon_download.png" alt="Logo" style="width: 50px;"
                            (click)="downloadDocuments()">
                    </div>
                </div>
            </div>

            <div class="item-container-documents" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6"
                [nzXXl]="6">
                <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
                    <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18" class="text-lg">
                        Capacitación modelo de atención
                    </h2>

                    <div nz-col>
                        <a href="http://www.aulavirtual.hone-solutions.com/" target="_blank">
                            <img src="../../../../../assets/img/allian-gorro.gif" alt="Logo" style="width: 50px;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="item-container-documents" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6"
                [nzXXl]="6" (click)="openContactsProvider()">
                <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
                    <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18" class="text-lg">
                        Representante legal
                    </h2>

                    <div nz-col>
                        <img src="../../../../../assets/img/icon-park.png" alt="Logo" style="width: 50px;">
                    </div>

                </div>
            </div>


        </div>
    </section>
    }
    @if (clientSelected.idClientHoneSolutions == 8) {

    <section id="download-documents">
        <div class="container-documents" nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">

            <div class="item-container-documents" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12"
                [nzXXl]="12">
                <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
                    <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18" class="text-lg">
                        Documentos obligatorios a diligenciar (descargar)
                    </h2>

                    <div nz-col>
                        <img src="../../../../../assets/img/carbon_download.png" alt="Logo" style="width: 50px;"
                            (click)="downloadDocumentsAxa()">
                    </div>
                </div>
            </div>

            <div class="item-container-documents" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8"
                [nzXXl]="8">
                <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">

                    <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18" class="text-lg">
                        Capacitación modelo de atención
                    </h2>

                    <div nz-col>
                        <a href="https://www.aulavirtual.hone-solutions.com/" target="_blank">
                            <img src="../../../../../assets/img/allian-gorro.gif" alt="Logo" style="width: 50px;">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    }
    @if (clientSelected.idClientHoneSolutions == 10) {

    <section id="download-documents">
        <div class="container-documents" nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">

            <div class="item-container-documents" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8"
                [nzXXl]="8">
                <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
                    <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="14" [nzXXl]="14" class="text-lg">
                        Documentos obligatorios a diligenciar (descargar)
                    </h2>

                    <div nz-col>
                        <img src="../../../../../assets/img/carbon_download.png" alt="Logo" style="width: 50px;"
                            (click)="downloadDocumentsMundialSeguros()">
                    </div>
                </div>
            </div>

            <div class="item-container-documents" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6"
                [nzXXl]="6" >
                <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
                    <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18" class="text-lg">
                        Documentos informativos
                    </h2>

                    <div nz-col>
                        <img src="../../../../../assets/img/carbon_download.png" alt="Logo" style="width: 50px;"
                        (click)="downloadDocumentsMundialSegurosInformative()">
                    </div>

                </div>
            </div>

            <div class="item-container-documents" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6"
                [nzXXl]="6">
                <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
                    <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18" class="text-lg">
                        Capacitación modelo de atención
                    </h2>

                    <div nz-col>
                        <a href="https://www.aulavirtual.hone-solutions.com/" target="_blank">
                            <img src="../../../../../assets/img/allian-gorro.gif" alt="Logo" style="width: 50px;">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    }
    @if (clientSelected.idClientHoneSolutions == 12) {

    <section id="download-documents">
        <div class="container-documents" nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">

            @if (hiddenCard){
            <div class="item-container-documents" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5"
                [nzXXl]="12">
                <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
                    <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="16" [nzXXl]="16" class="text-lg">
                        Tarifa 2024
                    </h2>

                    <div nz-col>
                        <img src="../../../../../assets/img/carbon_download.png" alt="Logo" style="width: 50px;"
                            (click)="downloadExcelFareBmi()">
                    </div>
                </div>
            </div>
            }

            <div class="item-container-documents" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8"
                [nzXXl]="12">
                <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
                    <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18" class="text-lg">
                        Documentos obligatorios a diligenciar (descargar)
                    </h2>

                    <div nz-col>
                        <img src="../../../../../assets/img/carbon_download.png" alt="Logo" style="width: 50px;"
                            (click)="downloadDocumentsBmi()">
                    </div>
                </div>
            </div>

            <div class="item-container-documents" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8"
                [nzXXl]="8">
                <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
                    <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18" class="text-lg">
                        Capacitación modelo de atención
                    </h2>

                    <div nz-col>
                        <a href="https://www.aulavirtual.hone-solutions.com/" target="_blank">
                            <img src="../../../../../assets/img/allian-gorro.gif" alt="Logo" style="width: 50px;">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    }



    @if (loadingData) {
    <div class="centerContent">
        <nz-spin nzSimple [nzSize]="'large'" nzTip="Cargando datos..."></nz-spin>
    </div>
    }
    @if (!loadingData) {
    <section class="custom-tabs">
        <nz-tabset nzCentered (nzSelectChange)="tabChange([$event])">
            <nz-tab [nzTitle]="templateWarning">
                <ng-template #templateWarning>
                    <section class="title-tabs" nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[24,32]">
                        <nz-progress nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                            [nzPercent]="percentData.remaining" nzType="circle"
                            [nzStrokeColor]="'#FFA940'"></nz-progress>
                        <button nz-col nz-button nzType="primary" class="btn-warning" [disabled]="false"
                            nzJustify="center" nzAlign="middle">
                            Documentos Por Cargar
                        </button>
                    </section>
                </ng-template>
                <ng-template nz-tab>
                    <app-remaining-documents></app-remaining-documents>
                </ng-template>
            </nz-tab>

            <nz-tab [nzTitle]="templateSuccess">
                <ng-template #templateSuccess>
                    <section class="title-tabs" nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[24,32]">

                        <nz-progress nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                            [nzPercent]="percentData.uploaded" nzType="circle"
                            [nzStrokeColor]="'#5B8C00'"></nz-progress>

                        <button nz-col nz-button nzType="primary" class="btn-success" [disabled]="false"
                            nzJustify="center" nzAlign="middle">
                            Documentos Cargados
                        </button>
                    </section>
                </ng-template>
                <ng-template nz-tab>
                    <app-uploaded-documents></app-uploaded-documents>
                </ng-template>
            </nz-tab>

            <nz-tab [nzTitle]="templateDanger">
                <ng-template #templateDanger>
                    <section class="title-tabs" nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[24,32]">

                        <nz-progress nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                            [nzPercent]="percentData.expired" nzType="circle" [nzStrokeColor]="'#D4380D'"></nz-progress>

                        <button nz-col nz-button nzType="primary" class="btn-danger" [disabled]="false"
                            nzJustify="center" nzAlign="middle">
                            Documentos Vencidos
                        </button>
                    </section>
                </ng-template>
                <ng-template nz-tab>
                    <app-expired-documents></app-expired-documents>
                </ng-template>
            </nz-tab>
        </nz-tabset>
    </section>
    }

    <section id="download-documents">
        <div class="download-documents" nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">

            <h2 nz-col [nzXs]="24" [nzSm]="18" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18" class="text-lg">
                Deseas agregar documentos a otra empresa afiliada
            </h2>

            <div nz-col>
                <button nz-button nzType="primary" class="btn-primary custom-btn" [disabled]="false"
                    nzJustify="center" nzAlign="middle" (click)="navigateHome()">
                    Agregar
                </button>
            </div>

        </div>
    </section>

    <div class="float-button">
        <div class="support-container" (click)="openTicketModal()">
            <img src="../../../../../assets/img/support.png" alt="" srcset="">
            <span class="support-container__text">
              Soporte
            </span>
        </div>
    </div>
</div>
