.layout {
    padding-bottom: 2rem;
}

.title-tabs {
    margin: 0 !important;
}

::ng-deep {
    .ant-tabs-nav-list {
        /* border: 1px solid; */
        margin: 1rem;
        -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    }

}

.custom-tabs {
    margin: 2rem;
    width: 90%;
}

.download-documents {
    width: 75%;
    margin: 3rem auto !important;
    // padding: 1rem;
    // height: 70px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    h2 {
      margin-bottom: 0;
    }
}

.container-documents {
    margin: 3rem auto !important;
    padding: 0 2rem;
    // height: 70px;
    gap: 1rem;
}

.item-container-documents {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    min-height: 60px;
}

::ng-deep {
    .ant-progress-inner {
        width: 95px !important;
        height: 100px !important;
        font-size: 21px !important;
    }
}
