.layout {
    padding-bottom: 2rem;
}

.container {
    margin: 0 auto;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

.user-data {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
}

.title-tabs {
    margin: 0 !important;
}

::ng-deep {
    .ant-tabs-nav-list {
        /* border: 1px solid; */
        margin: 1rem;
        -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    }

}

.custom-tabs {
    margin: 2rem;
    width: 90%;
}

.download-documents {
    width: 75%;
    margin: 3rem auto !important;
    // padding: 1rem;
    height: 70px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

.container-documents {
    margin: 3rem auto !important;
    padding: 0 2rem;
    // height: 70px;
    gap: 1rem;
}

.item-container-documents {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    min-height: 60px;
}

.custom-btn {
    background-color: #1890FF;
    border-color: #1890FF;
    border-radius: 5px;
}

.logo {
    img {
        max-width: 120px;
    }
}

.float-button {
    position: fixed;
    bottom: 50px;
    right: 25px;
}

.image-container {
    border: 1px solid #00000066;
    border-radius: 100%;
    padding: 5px;

    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    img {
        width: 75%;
        object-fit: contain;
    }
}

::ng-deep {
    .ant-progress-inner {
        width: 95px !important;
        height: 100px !important;
        font-size: 21px !important;
    }
}