<app-drawer
  #ticketDrawer
  placement="right"
  size="xl"
  [beforeClose]="canClose.bind(this)"
  (onClose)="onDrawerInternalClose()">

  <ng-container drawer-header>
    <h2 class="text-lg font-black text-main-blue1h leading-5">
      Ticket #{{ ticket?.idTickets }}
    </h2>
  </ng-container>

  <app-loader [visible]="loading" [fullscreen]="false" />

  @if (ticket) {
    <section class="flex flex-col gap-6">

      <!-- Data header -->
      <div class="flex flex-col gap-6">

        <div class="flex gap-6 flex-wrap">
          <div class="flex-1 flex flex-col gap-2.5 text-sm leading-4">
            <span class="font-semibold text-gray-900">Solicitud</span>
            <span class="text-gray-500">
              {{ ticket.nombreSolicitud | shortText:25 }}
            </span>
          </div>
          @if (isContractTicket && ticket.Contract) {
            <div class="flex-1 flex flex-col gap-2.5 text-sm leading-4">
              <span class="font-semibold text-gray-900">Contrato</span>
              <span class="text-gray-500 break-all">
                {{ ticket.Contract.expedientNumber }}
              </span>
            </div>
          }
          <div class="flex-1 flex flex-col gap-2.5 text-sm leading-4">
            <span class="font-semibold text-gray-900">Fecha de creación</span>
            <span class="text-gray-500">
              {{ ticket.fechaSolicitud | date: 'mediumDate' }}
            </span>
          </div>
          <div class="flex-1 flex flex-col gap-2.5 text-sm leading-4">
            <span class="font-semibold text-gray-900">Estado</span>
            <div>
              <ng-container
                *ngTemplateOutlet="ticketStatusTemplate; context: {
                  badgeConfig: statusConfig[getTicketStatus(ticket)]
                }">
              </ng-container>
            </div>
          </div>
        </div>

        @if (initMsg) {
          <div class="flex flex-col gap-2.5 text-sm leading-4">
            <span class="font-semibold text-gray-900">Reporte</span>
            <p class="text-gray-500 break-words whitespace-pre-wrap"
              [innerText]="initMsg.message">
            </p>
            @if (getMessageFile(initMsg)) {
              <div class="flex-1 flex items-center gap-2 flex-wrap">
                <div class="rounded-lg p-3 bg-blue1h-50 text-main-blue1h">
                  <svg class="w-5 h-5">
                    <use xlink:href="/assets/icons/outline/files-folders.svg#file-lines" />
                  </svg>
                </div>
                <div class="flex-1 flex flex-col gap-1 text-gray-900 text-sm leading-4 min-w-[6.25rem]">
                  <span class="font-semibold truncate block">
                    {{ getMessageFile(initMsg).nameOriginal }}
                  </span>
                  <span>{{ getMessageFile(initMsg).size | formatFileBytes }}</span>
                </div>
                <app-tooltip
                  [id]="'download-file'"
                  [text]="'Nuevo documento disponible. Revísalo en el mensaje más reciente.'"
                  [isDisabled]="!isGhostFormatButton"
                  position="top"
                  styleType="light">
                  <app-button
                    customClass="w-full flex justify-center sm:whitespace-nowrap leading-4"
                    (onClick)="downloadFile(initMsg)"
                    variant="primary"
                    [styleType]="isGhostFormatButton ? 'ghost' : 'soft'"
                    size="sm"
                  >
                    <svg class="w-4 h-4">
                      <use xlink:href="/assets/icons/outline/general.svg#download" />
                    </svg>
                    Descargar {{ isContractTicket ? 'contrato' : 'archivo' }}
                  </app-button>
                </app-tooltip>
              </div>
            }
          </div>
        }

      </div>


      @if (lastMsg) {

        <!-- Upload -->
        @if (lastMsg.createdBy === 'HoneSolutions' && isClosedTicket === false) {
          <div class="p-4 bg-gray-50 rounded-xl ring-[1px] ring-inset ring-gray-200">
            <ng-container
              *ngTemplateOutlet="messageFormTemplate; context: {
                isNew: true,
              }">
            </ng-container>
          </div>
        }

        <!-- Messages -->
        @if (messageList.length || isClosedTicket) {
          <div class="flex flex-col gap-6">
            <div class="relative flex items-center">
              <div class="flex-grow border-t border-gray-300"></div>
              <span class="flex-shrink mx-4 text-gray-500 text-sm leading-4 text-center">
                Historial de observaciones
              </span>
              <div class="flex-grow border-t border-gray-300"></div>
            </div>

            @if (closedMsg) {
              <ng-container
                *ngTemplateOutlet="messageTemplate; context: {
                  message: closedMsg,
                  lastMessage: lastMsg,
                }">
              </ng-container>
            }

            @for (message of messageList; track message.idMessage) {
              <ng-container
                *ngTemplateOutlet="messageTemplate; context: {
                  message,
                  lastMessage: lastMsg,
                }">
              </ng-container>
            }
          </div>

          @if (currentMsgPage < totalMsgPages) {
            <app-button
              (onClick)="nextMessagesPage()"
              [loading]="loadingMessages"
              variant="gray"
              styleType="ghost"
              size="xs"
              customClass="w-full flex justify-center">
              @if (!loadingMessages) {
                <svg class="w-4 h-4">
                  <use xlink:href="/assets/icons/outline/arrows.svg#arrow-down" />
                </svg>
              }
              Ver mensajes anteriores
            </app-button>
          }
        }

      }

    </section>
  }

</app-drawer>

<ng-template #ticketStatusTemplate let-config="badgeConfig">
  <div
    class="inline-flex gap-1 py-1.5 px-3 rounded-full text-sm font-semibold leading-4 whitespace-nowrap"
    [ngClass]="[
      config.bgClass,
      config.textClass
    ]">
    @if (config.icon) {
      <svg class="w-4 h-4">
        <use [attr.xlink:href]="'/assets/icons/outline/general.svg#' + config.icon" />
      </svg>
    }
    {{ config.label }}
  </div>
</ng-template>


<ng-template #messageFormTemplate let-isNew="isNew">
  <form [formGroup]="form" (ngSubmit)="submitMessage(isNew)" class="flex flex-col gap-4">
    <div>
      <app-text-input [id]="'message'" formControlName="message" label="Escribe aquí tus observaciones" [isTextarea]="true" />
      <app-input-error [control]="form.get('message')" />
    </div>
    <div class="xs:ps-3 flex gap-4 max-w-full">
      <div class="hidden xs:block w-[3px] rounded-3xl bg-gray-200 shrink-0"></div>
      <div class="flex-1 flex flex-col gap-2.5 max-w-full min-w-0">
        @if (isNew) {
          <span class="text-sm font-semibold leading-4 text-gray-900">
            Cargar {{ isContractTicket ? 'contrato firmado' : 'archivo' }}
          </span>
        }

        @if (selectedFormFile) {
          <div class="p-4 flex items-center gap-2 rounded-md ring-[1px] ring-inset ring-gray-200 bg-white">
            <div class="rounded-lg p-3 bg-blue1h-50 text-main-blue1h">
              <svg class="w-5 h-5">
                <use xlink:href="/assets/icons/outline/files-folders.svg#file-lines" />
              </svg>
            </div>
            <div class="flex-1 flex flex-col gap-1 text-gray-900 text-sm leading-4 min-w-0">
              <span class="font-semibold truncate block">
                {{ selectedFormFile.name }}
              </span>
              <span>{{ selectedFormFile.size | formatFileBytes }}</span>
            </div>

            @if (isNew) {
              <app-button
                (onClick)="fileInput.click()"
                variant="gray"
                styleType="soft"
                size="xs">
                <svg class="w-4 h-4">
                  <use xlink:href="/assets/icons/outline/arrows.svg#refresh" />
                </svg>
              </app-button>
              <button (click)="onFileChange(null)" class="p-0.5 text-gray-500 bg-transparent hover:text-gray-950">
                <svg class="w-4 h-4">
                  <use xlink:href="/assets/icons/outline/general.svg#close" />
                </svg>
              </button>
            }
          </div>
        } @else {
          <label
            for="dropzone-file"
            appFileDrop
            [allowedExtensions]="clientSelected?.idClientHoneSolutions === 13 ? ['.pdf'] : []"
            [maxFileSizeMB]="7"
            (fileDropped)="onFileChange($event)"
            class="flex flex-col items-center justify-center w-full h-[4.75rem] border-2 border-dashed rounded-lg cursor-pointer border-blue1h-300 bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600 p-4 text-gray-900 dark:text-gray-400"
          >
            <p class="text-sm leading-4 text-center">
              Arrastrar y soltar ó elegir <span class="font-semibold">{{ isContractTicket ? 'contrato firmado' : 'archivo' }}</span> para subir.
            </p>
          </label>
        }
        <input
          #fileInput
          id="dropzone-file"
          type="file"
          name="file"
          class="hidden"
          appFileSelect
          [allowedExtensions]="['.pdf']"
          [maxFileSizeMB]="7"
          (fileValidated)="onFileChange($event)"
        />

      </div>
    </div>

    @if (backendError) {
      <app-backend-errors [error]="backendError"></app-backend-errors>
    }
    @if (isNew) {
      <div class="text-sm leading-4 text-gray-500">
        Solo podrás modificar este contenido dentro de los primeros 15 minutos.
      </div>
    }
    @if (form.get('message')?.dirty || selectedFormFile || !isNew) {
      <div class="flex flex-wrap-reverse gap-4">
        @if (!isNew) {
          <app-button
            (onClick)="closeEditingMessage()"
            variant="gray"
            styleType="soft"
            size="lg"
            class="flex-1"
            customClass="w-full flex justify-center leading-[1.125rem]">
            Cancelar
          </app-button>
        }
        <app-button
          [type]="'submit'"
          variant="primary"
          styleType="solid"
          size="lg"
          class="flex-1"
          customClass="w-full flex justify-center leading-[1.125rem]">
          Enviar
        </app-button>
      </div>
    }
  </form>
</ng-template>


<ng-template #messageTemplate let-msg="message" let-lastMsg="lastMessage">
  <div class="flex flex-col gap-4 p-4 rounded-xl ring-[1px] ring-inset "
    [ngClass]="{
      'bg-white ring-gray-200': msg.createdBy === 'Provider',
      'bg-blue1h-50 ring-blue1h-500': msg.createdBy !== 'Provider',
    }">
    <div class="flex flex-col xs:flex-row justify-between gap-4 flex-wrap">
      <div class="flex flex-col gap-1 text-sm leading-4">
        <p class="text-gray-900">
          De <span class="font-semibold">{{
            msg.createdBy === 'HoneSolutions'
              ? 'Hone Solutions'
              : msg.Provider?.razonSocial
          }}</span>
        </p>
        <div class="flex items-center flex-wrap gap-2 text-gray-500">
          <span>Enviado {{ msg.createdAt | timeAgo }}</span>

          @if (msg.isUpdated) {
            <span class="font-medium">
              · Actualizado
            </span>
          }
        </div>
      </div>
      @if (hasMessageActions(msg, lastMsg)) {
        <div class="flex items-center gap-3 flex-wrap w-full xs:w-auto">
          @if (lastMessageReceived(msg, lastMsg)) {
            <div
              class="inline-flex items-center gap-1 py-1.5 px-2.5 rounded-full text-xs font-semibold whitespace-nowrap bg-blue1h-100 text-main-blue1h">
              <svg class="w-4 h-4">
                <use xlink:href="/assets/icons/solid/general.svg#clock" />
              </svg>
              {{ lastMsg.type === 'Closed' ? 'Último mensaje' : 'Más reciente' }}
            </div>
          }
          @if (hasDisplayableStatus(msg)) {
            <ng-container
              *ngTemplateOutlet="ticketStatusTemplate; context: {
                badgeConfig: msgStatusConfig[getMessageStatus(msg)]
              }">
            </ng-container>
          }
          @if (canModifyMessage(msg, lastMsg)) {
            <div class="flex items-center gap-3 flex-wrap grow">
              <app-button
                (onClick)="editMessage(msg)"
                variant="gray"
                styleType="soft"
                size="xs"
                class="grow"
                customClass="w-full flex justify-center">
                <svg class="w-4 h-4">
                  <use xlink:href="/assets/icons/outline/general.svg#pen" />
                </svg>
                Editar
              </app-button>
              <app-button
                (onClick)="deleteMessage(msg.idMessage)"
                variant="red"
                styleType="soft"
                size="xs"
                class="grow"
                customClass="w-full flex justify-center">
                <svg class="w-4 h-4">
                  <use xlink:href="/assets/icons/outline/general.svg#trash-bin" />
                </svg>
                Eliminar
              </app-button>
            </div>
          }
        </div>
      }
    </div>

    @if (editingMessageId === msg.idMessage) {
      <ng-container
        *ngTemplateOutlet="messageFormTemplate; context: {
          isNew: false,
        }">
      </ng-container>
    } @else {
      <app-html-renderer [htmlContent]="msg.message"></app-html-renderer>

      @if (getMessageFile(msg); as msgFile) {
        <div class="flex gap-4 max-w-full"
          [ngClass]="{
            'xs:ps-3': msg.createdBy === 'Provider',
          }">
          @if (msg.createdBy === 'Provider') {
            <div class="hidden xs:block w-[3px] rounded-3xl bg-gray-200 shrink-0"></div>
          }
          <div class="max-w-full min-w-0 flex-1 p-4 flex items-center gap-2 flex-wrap rounded-md ring-[1px] ring-inset ring-gray-200"
            [ngClass]="{
              'bg-gray-50': msg.createdBy === 'Provider',
              'bg-white': msg.createdBy !== 'Provider',
            }">
            <div class="rounded-lg p-3 bg-blue1h-50 text-main-blue1h">
              <svg class="w-5 h-5">
                <use xlink:href="/assets/icons/outline/files-folders.svg#file-lines" />
              </svg>
            </div>
            <div class="flex-1 flex flex-col gap-1 text-gray-900 text-sm leading-4 min-w-[6.25rem]">
              <span class="font-semibold truncate block">
                {{ msgFile.nameOriginal }}
              </span>
              <span>{{ msgFile.size | formatFileBytes }}</span>
            </div>

            @if (msg.createdBy === 'Provider') {
              <app-button
                (onClick)="viewFile(msg)"
                variant="gray"
                styleType="soft"
                size="xs">
                <svg class="w-4 h-4 text-main-blue1h">
                  <use xlink:href="/assets/icons/outline/general.svg#eye" />
                </svg>
                Ver
              </app-button>
            } @else {
              <app-button
                (onClick)="downloadFile(msg)"
                variant="primary"
                styleType="soft"
                size="xs">
                <svg class="w-4 h-4">
                  <use xlink:href="/assets/icons/outline/general.svg#download" />
                </svg>
                Descargar
              </app-button>
            }
          </div>
        </div>
      }
    }

  </div>
</ng-template>
