.container-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.footer {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.whatsapp{
    position: relative;
    display: flex;
    align-items: center;
    right: 20%;
}

.icon{
  width: 26px;
}

@media only screen and (max-width: 768px) {
    .footer {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .whatsapp{
        position: relative;
        display: flex;
        align-items: center;
        left: 30%;
    }
}
