<div class="flex flex-col items-center justify-center min-h-[calc(100vh-97px)] bg-gray-100">
  <div class="bg-white py-6 px-9 rounded-lg shadow-md w-full max-w-[90vw] md:max-w-[600px]  mt-[-8rem]">
      <div class="flex justify-center mb-4">
          <img src="assets/img/logo-hone.png" alt="Logo" class="w-24">
      </div>
      <form nz-form nzLayout="vertical" [formGroup]="passwordForm" class="space-y-4">
        <nz-form-item class="mb-3">
          <nz-form-label nzRequired>Contraseña Actual</nz-form-label>
          <nz-form-control nzErrorTip="El campo es requerido.">
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input nz-input [type]="passwordVisible ? 'text' : 'password'" formControlName="currentPassword" placeholder="Contraseña actual" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span class="cursor-pointer" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                  (click)="passwordVisible = !passwordVisible"></span>
            </ng-template>
          </nz-form-control>
          <a [routerLink]="['/forgot-password']" class="text-blue-600">¿Olvidaste la contraseña?</a>
        </nz-form-item>

        <app-new-password-form
          [showCancelButton]="true"
          (submitPassword)="onPasswordSubmitted($event)"
          (validationFailed)="markFormAsTouched()"
          (cancel)="onCancel()">
        </app-new-password-form>
      </form>
  </div>
</div>
