<!-- <nz-layout style="height: 100%;"> -->

<header>
    <div class="container">
        <div class="logo">
            <img src="../../../../assets/img/logo-hone.png" alt="Logo">
        </div>
        <!-- <div class="menu-icon">&#9776;</div> -->
        <nav>
            <ul>
                <li><a href="https://www.hone-solutions.com/nosotros">Nosotros</a></li>
                <li><a href="https://www.hone-solutions.com/services">Nuestros servicios</a></li>
                <li><a href="#">Lissom</a></li>
            </ul>
        </nav>
        <button nz-button nzType="primary" class="btn-primary ml-3" [disabled]="false" nzJustify="center"
            nzAlign="middle">
            Loggin
        </button>
    </div>
</header>



<section class="container-form">


    <section class="form-section">

        <div class="container-img">
            <img src="../../../../assets/img/login/image-login-1.png" alt="">
        </div>

        <form nz-form [formGroup]="loginForm" class="form-login">

            <!-- Campo Usuario / email -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Usuario
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="emailErrorTip">
                        <ng-template #emailErrorTip>
                            <p *ngIf="loginForm.controls['email'].hasError('required')">¡El usuario es
                                obligatorio!
                            </p>
                        </ng-template>
                        <input nz-input placeholder="" formControlName="email">
                    </nz-form-control>

                </nz-form-item>
            </div>

            <!-- Campo contraseña -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Contraseña
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="passwordErrorTip">
                        <ng-template #passwordErrorTip>
                            <p *ngIf="loginForm.controls['password'].hasError('required')">¡La contraseña es
                                obligatoria!
                            </p>
                        </ng-template>
                        <nz-input-group [nzSuffix]="suffixTemplate">
                            <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder=""
                                formControlName="password" />
                        </nz-input-group>
                        <ng-template #suffixTemplate>
                            <span style="cursor: pointer" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                (click)="passwordVisible = !passwordVisible"></span>
                        </ng-template>
                    </nz-form-control>

                </nz-form-item>
            </div>

            <!-- Campo re-captcha -->
            <re-captcha (resolved)="resolved($event)" siteKey="6Ld-8nopAAAAAIw0RV8-HYPQdgzUdjeYn7gvIApc"
                (errored)="errored()" errorMode="handled"></re-captcha>

            <p style="color: red;" *ngIf="showError">¡Debes validar que no eres un robot!</p>


            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                style="text-align: center; margin-top: 3rem;">
                <button nz-button nzType="primary" class="btn-primary ml-3" [disabled]="false"
                    [nzLoading]="isSubmitData" (click)="submitRequest()" nz-popover nzPopoverTitle="" nzJustify="center"
                    nzAlign="middle" [nzPopoverContent]="enablePopoverMessage">
                    <ng-template #enablePopoverMessage>
                        <span>Haga clic para iniciar sesión</span>
                    </ng-template>
                    Iniciar sesión
                </button>
            </div>

        </form>
    </section>

    <div class="container-img-footer">
        <img src="../../../../assets/img/login/hone-login.png" alt="">
    </div>

</section>


<!-- </nz-layout> -->