<div class="flex justify-center relative lg:h-[calc(100vh-104px)] mx-4">

  <div class="container flex flex-col-reverse lg:flex-row pt-10 pb-20 px-0 lg:py-12 gap-9">

    <div class="flex-1 flex items-center justify-center">
      <form nz-form [formGroup]="loginForm" class="flex flex-col justify-center lg:py-24 lg:px-[120px] gap-3">

        <h3 class="text-2xl font-black leading-[26px] text-main-blue1h text-center">
          ¡Bienvenido(a) a tu Portal Transaccional de Gestión de Información y Documentos!
        </h3>

        <div>
          <app-text-input [id]="'email'" formControlName="email" label="Usuario" />
          <app-input-error [control]="loginForm.get('email')" />
        </div>

        <div>
          <app-text-input [id]="'password'" formControlName="password" [type]="'password'" label="Contraseña" [togglePassword]="true" />
          <app-input-error [control]="loginForm.get('password')" />
        </div>

        <div class="mx-auto">
          <re-captcha (resolved)="resolved($event)" [siteKey]="siteKey"
              (errored)="errored()" errorMode="handled"></re-captcha>
          @if (showError) {
            <app-input-error [message]="'Debes validar que no eres un robot.'" />
          }
        </div>

        <app-button
          variant="primary"
          styleType="solid"
          size="lg"
          customClass="leading-[18px] w-full flex justify-center"
          [loading]="isSubmitData"
          (onClick)="submitRequest()">
          Iniciar sesión
        </app-button>
      </form>
    </div>

    <div class="flex-1 flex items-center justify-center">
      <img class="object-cover rounded-3xl h-[372px] sm:h-[200px] sm:w-full lg:h-full max-h-full max-w-full" src="/assets/img/login/login.webp" alt="Imagen login">
    </div>

  </div>
</div>
