@if (loading) {
  <div class="absolute inset-0 z-50 bg-gray-50/60 flex items-center justify-center">
    <svg class="w-7 h-7 text-main-blue1h animate-spin fill-gray-200">
      <use xlink:href="/assets/icons/extras/animations.svg#spin" />
    </svg>
  </div>
}

<div class="flex flex-col gap-6 pb-20">

  <div class="flex flex-col sm:flex-row justify-between gap-6">
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-black leading-[1.375rem] text-main-blue1h">
        Tarifas
      </h2>
      <p class="text-gray-600 text-base font-normal leading-[1.125rem]">
        Asegúrate de que estén completas, actualizadas y correctas. Súbelas aquí para revisión y aprobación.
      </p>
    </div>

    <app-button
      appDropdownTrigger="dropdown-formats"
      [dropdownPlacement]="isSmall ? 'bottom' : 'bottom-end'"
      variant="primary"
      styleType="soft"
      size="md"
      class="my-auto"
      customClass="whitespace-nowrap w-full flex justify-center">
      <svg class="w-5 h-5">
        <use xlink:href="/assets/icons/outline/general.svg#download" />
      </svg>
      Descargar formatos
      <svg class="w-5 h-5">
        <use xlink:href="/assets/icons/outline/arrows.svg#chevron-down" />
      </svg>
    </app-button>

    <div id="dropdown-formats" class="z-30 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
      <ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
        <li>
          <a data-dropdown-close class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            Insumos
          </a>
        </li>
        <li>
          <a data-dropdown-close class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            Medicamentos
          </a>
        </li>
        <li>
          <a data-dropdown-close class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            Prestaciones
          </a>
        </li>
      </ul>
      <div class="py-1">
        <a data-dropdown-close class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
          Todos los formatos
        </a>
      </div>
    </div>
  </div>

  <div class="relative overflow-x-auto overflow-y-hidden rounded-xl shadow-sm">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-sm leading-4 text-blue1h-950 bg-gray-100 dark:bg-gray-700 dark:text-gray-400 whitespace-nowrap">
        <tr>
          <th scope="col" class="px-4 py-3 font-semibold">
            Nombre
          </th>
          <th scope="col" class="px-4 py-3 font-semibold">
            Estado
          </th>
          <th scope="col" class="px-4 py-3 font-semibold">
            Fecha de carga
          </th>
          <th scope="col" class="px-4 py-3 font-semibold">
            Última modificación
          </th>
          <th scope="col" class="px-4 py-3 font-semibold">
            Estado del documento
          </th>
          <th scope="col" class="px-4 py-3 font-semibold">
          </th>
        </tr>
      </thead>
      <tbody>
        @if (loadingRates) {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
            <td colspan="6" class="px-4 h-[54px] text-left">
              <div class="text-md text-main-blue1h leading-4 flex items-center gap-2">
                <svg class="w-5 h-5 text-current animate-spin fill-gray-200">
                  <use xlink:href="/assets/icons/extras/animations.svg#spin" />
                </svg>
                Cargando...
              </div>
            </td>
          </tr>
        } @else {
          @for (rate of rateList; track rate.idRateType) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
              <td class="px-4 py-[10.5px] text-sm font-normal text-main-blue1h leading-4 dark:text-white flex justify-between items-center gap-2">
                <div>
                  {{ rate.rateName }}
                </div>
                <div class="block sm:hidden">
                  <ng-container
                    *ngTemplateOutlet="rateActions; context: {
                      rate,
                      id: 'rate-start-drop-' + rate.idRateType,
                      dropPlacement: 'bottom-start',
                      inputRef: fileTableInput,
                    }">
                  </ng-container>
                </div>
              </td>
              <td class="px-4 py-[10.5px]">
                <ng-container
                  *ngTemplateOutlet="rateStatusTemplate; context: { rate: rate.currentRate }">
                </ng-container>
              </td>
              <td class="px-4 py-[10.5px] text-sm font-normal text-main-blue1h leading-4 dark:text-white">
                {{
                  !rate.currentRate || rate.currentRate?.rateStatus === 'PENDIENTE POR CARGAR'
                    ? 'N/A'
                    : rate.currentRate.dateAdd | date: 'mediumDate'
                }}
              </td>
              <td class="px-4 py-[10.5px] text-sm font-normal text-main-blue1h leading-4 dark:text-white">
                {{
                  !rate.currentRate || rate.currentRate?.rateStatus === 'PENDIENTE POR CARGAR'
                    ? 'N/A'
                    : rate.currentRate.updateAt | date: 'mediumDate'
                }}
              </td>
              <td class="px-4 py-[10.5px] text-left">
                <div class="my-auto flex gap-2">
                  @if (rate.currentRate?.rateStatus === 'EN PROCESO') {
                    <app-button
                      variant="primary"
                      styleType="ghost"
                      size="xs">
                      <svg class="w-4 h-4">
                        <use xlink:href="/assets/icons/outline/files-folders.svg#file" />
                      </svg>
                      {{ rate.currentRate.nameFile }}
                    </app-button>
                  } @else {
                    <app-button
                      (onClick)="triggerFileTableInput(fileTableInput)"
                      variant="primary"
                      styleType="solid"
                      size="xs">
                      @if (rate.currentRate?.rateStatus === 'APROBADO') {
                        <svg class="w-4 h-4">
                          <use xlink:href="/assets/icons/outline/arrows.svg#refresh" />
                        </svg>
                        Actualizar
                      } @else {
                        <svg class="w-4 h-4">
                          <use xlink:href="/assets/icons/outline/general.svg#upload" />
                        </svg>
                        Cargar
                      }
                    </app-button>
                  }

                  <input
                    #fileTableInput
                    appFileSelect
                    type="file"
                    name="file"
                    class="hidden"
                    (fileValidated)="uploadRateFile($event, rate)"
                  />
                </div>
              </td>
              <td class="px-4 py-[10.5px] text-left">
                <div class="my-auto flex justify-end gap-2">
                  <app-button
                    (onClick)="openRateDetail(rate)"
                    variant="gray"
                    styleType="soft"
                    size="xs"
                    class="hidden sm:block">
                    <svg class="w-4 h-4">
                      <use xlink:href="/assets/icons/outline/general.svg#close-sidebar" />
                    </svg>
                    Abrir
                  </app-button>

                  <ng-container
                    *ngTemplateOutlet="rateActions; context: {
                      rate,
                      id: 'rate-end-drop-' + rate.idRateType,
                      inputRef: fileTableInput,
                    }">
                  </ng-container>
                </div>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

</div>


<app-rate-management
  [isOpen]="isRateDrawerOpen"
  (isOpenChange)="onDrawerOpenChange($event)"
  [statusConfig]="statusConfig"
  [selectedRate]="selectedRate"
  [initialFile]="initialFile">
</app-rate-management>


<ng-template #rateStatusTemplate let-rate="rate">
  <div
    class="inline-flex gap-1 py-1.5 px-3 rounded-full text-sm font-semibold leading-4 whitespace-nowrap"
    [ngClass]="[
      statusConfig[getRateStatus(rate)].bgClass,
      statusConfig[getRateStatus(rate)].textClass
    ]">
    @if (statusConfig[getRateStatus(rate)].icon) {
      <svg class="w-4 h-4">
        <use [attr.xlink:href]="'/assets/icons/outline/general.svg#' + statusConfig[getRateStatus(rate)].icon" />
      </svg>
    }
    {{ statusConfig[getRateStatus(rate)].label }}
  </div>
</ng-template>


<ng-template #rateActions let-rate="rate" let-id="id" let-placement="dropPlacement" let-inputRef="inputRef">
  <app-button
    [appDropdownTrigger]="id"
    [dropdownPlacement]="placement || 'bottom-end'"
    variant="gray"
    styleType="soft"
    size="xs">
    <svg class="w-4 h-4">
      <use xlink:href="/assets/icons/outline/general.svg#dots-horizontal" />
    </svg>
  </app-button>

  <div [id]="id" class="z-30 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-[8.5rem] dark:bg-gray-700 dark:divide-gray-600">
    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
      <li>
        <a (click)="openRateDetail(rate)" data-dropdown-close class="flex items-center gap-3 px-4 py-2 text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-[1.125rem] h-[1.125rem] text-gray-500">
            <use xlink:href="/assets/icons/outline/general.svg#close-sidebar" />
          </svg>
          Abrir
        </a>
      </li>
      @if (rate.currentRate?.rateStatus !== 'EN PROCESO') {
        <li>
          <a (click)="triggerFileTableInput(inputRef)" data-dropdown-close class="flex items-center gap-3 px-4 py-2 text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-[1.125rem] h-[1.125rem] text-gray-500">
              <use xlink:href="/assets/icons/outline/arrows.svg#refresh" />
            </svg>
            @if (rate.currentRate?.rateStatus === 'APROBADO') {
              Actualizar
            } @else {
              Cargar
            }
          </a>
        </li>
      }
    </ul>
    <div class="py-1">
      <a (click)="deleteRate(rate)" data-dropdown-close class="flex items-center gap-3 px-4 py-2 text-sm text-red-500 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
        <svg class="w-[1.125rem] h-[1.125rem]">
          <use xlink:href="/assets/icons/outline/general.svg#trash-bin" />
        </svg>
        Eliminar
      </a>
    </div>
  </div>

</ng-template>

