<div class="flex flex-col gap-9 pb-20">

  <div class="flex flex-col sm:flex-row justify-between gap-6">
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-black leading-[22px] text-main-blue1h">
        Tarifas
      </h2>
      <p class="text-gray-600 text-base font-normal leading-[18px]">
        Asegúrate de que estén completas, actualizadas y correctas. Súbelas aquí para revisión y aprobación.
      </p>
    </div>

    <app-button
      #dropdownFormatsBtn
      id="dropdown-formats-btn"
      data-dropdown-toggle="dropdown-formats"
      variant="primary"
      styleType="soft"
      size="md"
      class="my-auto"
      customClass="whitespace-nowrap w-full flex justify-center">
      <svg width="20" height="20">
        <use xlink:href="/assets/icons/outline/general.svg#download" />
      </svg>
      Descargar formatos
      <svg width="20" height="20">
        <use xlink:href="/assets/icons/outline/arrows.svg#chevron-down" />
      </svg>
    </app-button>

    <div id="dropdown-formats" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
      <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-formats-btn">
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            Insumos
          </a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            Medicamentos
          </a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            Prestaciones
          </a>
        </li>
      </ul>
      <div class="py-1">
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
          Todos los formatos
        </a>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4">

    <div class="flex flex-col gap-4 p-4 rounded-xl bg-gray-100">
      <div class="flex gap-2 text-main-blue1h">
        <h4 class="text-lg font-semibold leading-5">Tipo de tarifa</h4>
      </div>


      <div class="relative overflow-x-auto overflow-y-hidden rounded-xl">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-sm leading-4 text-blue1h-950 bg-gray-50 dark:bg-gray-700 dark:text-gray-400 whitespace-nowrap">
            <tr>
              <th scope="col" class="px-4 py-3 font-semibold">
                Nombre
              </th>
              <th scope="col" class="px-4 py-3 font-semibold">
                Estado
              </th>
              <th scope="col" class="px-4 py-3 font-semibold">
                Fecha de carga
              </th>
              <th scope="col" class="px-4 py-3 font-semibold">
                Última modificación
              </th>
              <th scope="col" class="px-4 py-3 font-semibold">
                Estado del documento
              </th>
              <th scope="col" class="px-4 py-3 font-semibold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            @if (loadingRates) {
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <td colspan="6" class="px-4 h-[54px] text-left">
                  <div class="text-md text-main-blue1h leading-4 flex items-center gap-2">
                    <svg class="w-5 h-5 text-current animate-spin fill-gray-200">
                      <use xlink:href="/assets/icons/extras/animations.svg#spin" />
                    </svg>
                    Cargando...
                  </div>
                </td>
              </tr>
            } @else {
              @for (rate of rateList; track rate.idRateType; let i = $index) {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                  <td class="px-4 py-[10.5px] text-sm font-normal text-main-blue1h leading-4 dark:text-white ">
                    {{ rate.rateName }}
                  </td>
                  <td class="px-4 py-[10.5px]">
                    <ng-container
                      *ngTemplateOutlet="rateStatusTemplate; context: { rate: rate.currentRate }">
                    </ng-container>
                  </td>
                  <td class="px-4 py-[10.5px] text-sm font-normal text-main-blue1h leading-4 dark:text-white">
                    {{
                      rate.currentRate.rateStatus === 'PENDIENTE POR CARGAR'
                        ? 'N/A'
                        : rate.currentRate.dateAdd | date: 'mediumDate'
                    }}
                  </td>
                  <td class="px-4 py-[10.5px] text-sm font-normal text-main-blue1h leading-4 dark:text-white">
                    {{
                      rate.currentRate.rateStatus === 'PENDIENTE POR CARGAR'
                        ? 'N/A'
                        : rate.currentRate.updateAt | date: 'mediumDate'
                    }}
                  </td>
                  <td class="px-4 py-[10.5px] text-left">
                    <div class="my-auto flex gap-2">
                      @if (rate.currentRate.rateStatus === 'EN PROCESO') {
                        <app-button
                          (onClick)="triggerFileTableInput()"
                          variant="primary"
                          styleType="ghost"
                          size="xs">
                          <svg width="16" height="16">
                            <use xlink:href="/assets/icons/outline/files-folders.svg#file" />
                          </svg>
                          {{ rate.currentRate.nameFile }}
                        </app-button>
                      } @else {
                        <app-button
                          (onClick)="triggerFileTableInput()"
                          variant="primary"
                          styleType="solid"
                          size="xs">
                          @if (rate.currentRate.rateStatus === 'APROBADO') {
                            <svg width="16" height="16">
                              <use xlink:href="/assets/icons/outline/arrows.svg#refresh" />
                            </svg>
                            Actualizar
                          } @else {
                            <svg width="16" height="16">
                              <use xlink:href="/assets/icons/outline/general.svg#upload" />
                            </svg>
                            Cargar
                          }
                        </app-button>
                      }

                      <input
                        #fileTableInput
                        type="file"
                        name="file"
                        class="hidden"
                        appFileSelect
                        (fileValidated)="uploadRateFile($event, rate)"
                      />
                    </div>
                  </td>
                  <td class="px-4 py-[10.5px] text-left">
                    <div class="my-auto flex gap-2">
                      <app-button
                        (onClick)="openRateDetail(rate)"
                        variant="gray"
                        styleType="soft"
                        size="xs">
                        <svg width="16" height="16">
                          <use xlink:href="/assets/icons/outline/general.svg#close-sidebar" />
                        </svg>
                        Abrir
                      </app-button>

                      <app-button
                        appDropdownTrigger
                        [id]="'rate-options-btn-' + i"
                        [attr.data-dropdown-toggle]="'dropdown-rate-opts-' + i"
                        data-dropdown-placement="bottom-end"
                        variant="gray"
                        styleType="soft"
                        size="xs">
                        <svg width="16" height="16">
                          <use xlink:href="/assets/icons/outline/general.svg#dots-horizontal" />
                        </svg>
                      </app-button>
                      <div [id]="'dropdown-rate-opts-' + i" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-[136px] dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" [attr.aria-labelledby]="'rate-options-btn-' + i">
                          <li>
                            <a href="#" class="flex items-center gap-3 px-4 py-2 text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                              <svg width="18" height="18" class="text-gray-500">
                                <use xlink:href="/assets/icons/outline/general.svg#close-sidebar" />
                              </svg>
                              Abrir
                            </a>
                          </li>
                          <li>
                            <a href="#" class="flex items-center gap-3 px-4 py-2 text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                              <svg width="18" height="18" class="text-gray-500">
                                <use xlink:href="/assets/icons/outline/arrows.svg#refresh" />
                              </svg>
                              Actualizar
                            </a>
                          </li>
                        </ul>
                        <div class="py-1">
                          <a href="#" class="flex items-center gap-3 px-4 py-2 text-sm text-red-500 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            <svg width="18" height="18">
                              <use xlink:href="/assets/icons/outline/general.svg#trash-bin" />
                            </svg>
                            Eliminar
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>


<app-drawer [(isOpen)]="isRateDrawerOpen"
  placement="right"
  size="xl"
  (onClose)="onDrawerClose()"
  [hasFooter]="selectedRate?.idRateType === 1">
  <ng-container drawer-header>
    <h2 class="block sm:hidden text-lg font-black leading-5 text-main-blue1h">
      Tarifas
    </h2>
    <h2 class="hidden sm:block text-lg font-black leading-5 text-main-blue1h">
      {{ selectedRate?.currentRate?.nameFile || 'Tarifas' }}
    </h2>
  </ng-container>

  @if (selectedRate) {
    <form class="flex flex-col gap-6">
      <div class="flex gap-6">
        <div class="flex flex-col gap-2.5 text-sm leading-4">
          <span class="font-semibold text-gray-900">Fecha de carga</span>
          <span class="text-gray-500">
            {{ selectedRate.currentRate.dateAdd | date: 'mediumDate' }}
          </span>
        </div>
        <div class="flex flex-col gap-2.5 text-sm leading-4">
          <span class="font-semibold text-gray-900">Última modificación</span>
          <span class="text-gray-500">
            {{ selectedRate.currentRate.updateAt | date: 'mediumDate' }}
          </span>
        </div>
      </div>

      <div class="flex flex-col gap-4 p-4 bg-gray-50 rounded-xl ring-[1px] ring-inset ring-gray-200">
        <div class="flex flex-col gap-2.5">
          <span class="text-sm font-semibold leading-4 text-gray-900">
            @if (selectedRate.currentRate.rateStatus === 'PENDIENTE POR CARGAR'
              || !selectedRate.rateHistory) {
              Tarifa {{ selectedRate.rateName }}
            } @else {
              Actual
            }
          </span>

          <div class="p-4 flex gap-2 items-center rounded-md ring-[1px] ring-inset ring-gray-200">
            <div class="rounded-lg p-3 bg-blue1h-50 text-main-blue1h">
              <svg width="20" height="20">
                <use xlink:href="/assets/icons/outline/files-folders.svg#file-lines" />
              </svg>
            </div>
            <div class="flex-1 flex flex-col gap-1 text-gray-900 text-sm leading-4">
              <span class="font-semibold">
                {{ selectedRate.currentRate.nameFile }}
              </span>
              <span>{{ selectedRate.currentRate.fileSize }}</span>
            </div>
            @if (selectedRate.currentRate.rateStatus === 'PENDIENTE POR CARGAR') {
              <!-- Si esta pendiente por cargar y tiene archivo cargado en el form -->
              <div class="p-0.5 text-gray-700">
                <svg width="16" height="16">
                  <use xlink:href="/assets/icons/outline/general.svg#close" />
                </svg>
              </div>
            } @else {
              <ng-container
                *ngTemplateOutlet="rateStatusTemplate; context: { rate: selectedRate.currentRate }">
              </ng-container>
            }

            @if (selectedRate.currentRate.rateStatus === 'APROBADO') {
              <app-button
                variant="gray"
                styleType="soft"
                size="xs">
                <svg width="16" height="16">
                  <use xlink:href="/assets/icons/outline/general.svg#download" />
                </svg>
              </app-button>
            } @else if (selectedRate.currentRate.rateStatus === 'RECHAZADO') {
              <!-- Si es rechazado o si esta pendiente por cargar pero no hay archivo -->
              <app-button
                variant="primary"
                styleType="solid"
                size="xs">
                <svg width="16" height="16">
                  <use xlink:href="/assets/icons/outline/general.svg#upload" />
                </svg>
                Cargar
              </app-button>
            }
          </div>

          @if (selectedRate.currentRate.rateStatus !== 'PENDIENTE POR CARGAR'
              && selectedRate.rateHistory) {
            <div class="ps-3 flex gap-4">
              <div class="w-[3px] rounded-3xl bg-gray-200"></div>
              <div class="flex-1 flex flex-col gap-2.5">
                <span class="text-sm font-semibold leading-4 text-gray-900">
                  Historial
                </span>
                @for (prevRate of selectedRate.rateHistory; track $index) {
                  <div class="p-4 flex items-center gap-2 rounded-md ring-[1px] ring-inset ring-gray-200">
                    <div class="rounded-lg p-3 bg-blue1h-50 text-main-blue1h">
                      <svg width="20" height="20">
                        <use xlink:href="/assets/icons/outline/files-folders.svg#file-lines" />
                      </svg>
                    </div>
                    <div class="flex-1 flex flex-col gap-1 text-gray-900 text-sm leading-4">
                      <span class="font-semibold">
                        {{ prevRate.nameFile }}
                      </span>
                      <span>{{ prevRate.fileSize }}</span>
                    </div>
                    <span class="text-sm leading-4 text-gray-500">{{ prevRate.dateAdd }}</span>
                    <ng-container
                      *ngTemplateOutlet="rateStatusTemplate; context: { rate: prevRate }">
                    </ng-container>
                    <app-button
                      variant="gray"
                      styleType="soft"
                      size="xs">
                      <svg width="16" height="16">
                        <use xlink:href="/assets/icons/outline/general.svg#download" />
                      </svg>
                    </app-button>
                  </div>
                }
              </div>
            </div>
          }
        </div>

      </div>

      <div class="flex flex-col gap-2.5">
        <label class="text-sm font-semibold leading-4 text-gray-900">Observaciones</label>
        <app-text-input [id]="'observations'" formControlName="observations" label="Escribe aquí tus observaciones" [isTextarea]="true" />
      </div>
    </form>
  }

  @if (selectedRate?.currentRate?.rateStatus === 'PENDIENTE POR CARGAR' && rateForm.dirty) {
    <ng-container drawer-footer>
      <div class="flex flex-col-reverse sm:flex-row gap-4">
        <app-button
          (onClick)="isRateDrawerOpen = false"
          variant="gray"
          styleType="soft"
          size="lg"
          class="flex-1"
          customClass="leading-[18px] w-full flex justify-center">
          Cancelar
        </app-button>
        <app-button
          (onClick)="onSubmitRate(selectedRate)"
          variant="primary"
          styleType="solid"
          size="lg"
          class="flex-1"
          customClass="leading-[18px] w-full flex justify-center">
          Subir
        </app-button>
      </div>
    </ng-container>
  }

</app-drawer>


<ng-template #rateStatusTemplate let-rate="rate">
  <div
    class="inline-flex gap-1 py-1.5 px-3 rounded-full text-sm font-semibold leading-4 whitespace-nowrap"
    [ngClass]="[
      statusConfig[rate.rateStatus].bg,
      statusConfig[rate.rateStatus].text
    ]">
    @if (statusConfig[rate.rateStatus].icon) {
      <svg width="16" height="16">
        <use [attr.xlink:href]="'/assets/icons/outline/general.svg#' + statusConfig[rate.rateStatus].icon" />
      </svg>
    }
    {{ statusConfig[rate.rateStatus].label }}
  </div>
</ng-template>

