h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    size: 32px;
    line-height: 38.4px;
    font-family: arial;
    color: #2F2F5F;
}


.header-text {
    font-weight: 600;
    size: 32px;
    font-family: arial;
    color: #2F2F5F;
    // text-indent: 20px;
    text-align: -webkit-center;
}