.header-container {
  box-shadow: 0px 0px 25.58px 0px #0000001A;
}

.user-section {
    &__name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 310px;
      display: inline-block;
    }
}

.tutorial-option-container.active-tutorial::before {
  border-radius: 3rem;
}

@media screen and (max-width: 768px) {
  .user-section {
    &__name {
      max-width: 150px;
    }
  }
}

@media screen and (max-width: 450px) {
  .user-section {
    padding: 10px;
    &__name {
      display: none;
    }
  }
}
