<div class="container">
    <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[24,32]" class="row" style="margin: 0 !important;">

        <div class="container-logo-hone" nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12">
            <img class="logo-hone" src="../../../assets/img/logo-hone.png" alt="">
        </div>
        <div class="container-header-name-avatar" nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12">
            <div  nz-row nzJustify="center" class="user-section" [nzGutter]="[24,24]">
                <div nz-popover [(nzPopoverVisible)]="visible"
                (nzPopoverVisibleChange)="change($event)" nzPopoverTrigger="click"
                [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottomLeft">
                  <img src="../../../assets/img/user.png" alt="avatar">
                  <span class="user-section__name">{{user.name ? user.name : 'No reporta nombre'}}</span>
                </div>
            </div>
        </div>
    </div>

    <ng-template #contentTemplate>
        <div>
            <button nz-button nzType="text" (click)="logout()">
                Cerrar sesión
            </button>
        </div>
    </ng-template>
</div>
