<div class="container">
    <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[24,32]" class="row" style="margin: 0 !important;">

        <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12">
            <img src="../../../assets/img/logo-hone-white.png" alt="">
        </div>
        <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12">
            <div nz-row nzJustify="center" class="user-section" [nzGutter]="[24,24]">

                <!-- <button nz-button nz-popover nzPopoverTitle="Title" [(nzPopoverVisible)]="visible"
                    (nzPopoverVisibleChange)="change($event)" nzPopoverTrigger="click"
                    [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">

                    <img src="../../../assets/img/user.png" alt="avatar">
                </button> -->

                <img src="../../../assets/img/user.png" alt="avatar" nz-popover [(nzPopoverVisible)]="visible"
                    (nzPopoverVisibleChange)="change($event)" nzPopoverTrigger="click"
                    [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
                <span>{{user.name ? user.name : 'No reporta nombre'}}</span>
            </div>
        </div>
    </div>

    <ng-template #contentTemplate>
        <div>
            <button nz-button nzType="text" (click)="logout()">
                Cerrar sesión
            </button>
        </div>
    </ng-template>
</div>