<div class="flex flex-col gap-4">
  <div class="max-h-[391.47px] bg-gray-50">
    <video
      #tutorialVideo
      class="h-full w-full"
      controls
      preload="metadata"
      playsinline
      disablePictureInPicture>
      <source [src]="videoUrl" type="video/mp4" />
      Tu navegador no soporta reproducción de video.
    </video>
  </div>
  @if (isTutorial) {
    <app-button (onClick)="closeModal()" variant="primary" size="xl" styleType="solid" customClass="w-full flex justify-center">
      Iniciar recorrido
      <svg width="24" height="24">
        <use xlink:href="/assets/icons/outline/arrows.svg#arrow-right" />
      </svg>
    </app-button>
  }
</div>
