.update-data {
  padding: 20px;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .container-alerts {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }

    .table-head {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    // padding: 20px;
  }

}

// .ant-form-item-label,
// .ant-form-item-control {
//   flex: 0 0 100%;
//   max-width: 100%;
// }

// .ant-form-item-label {
//   padding: 0 0 0px;
//   line-height: 1.5715;
//   white-space: initial;
//   text-align: left;
// }
