<!-- @if (loading) {
  <div class="loading-overlay fixed">
    <nz-spin [nzSize]="'large'" nzTip="Cargando..."></nz-spin>
  </div>
} -->

<div class="flex justify-center mx-4">
  <div class="max-w-screen-md w-full pt-10 pb-20 md:pt-6 flex flex-col gap-3">

    <app-button
      (onClick)="goBack()"
      variant="primary"
      styleType="ghost"
      size="sm"
      customClass="leading-4">
      <svg width="16" height="16">
        <use xlink:href="/assets/icons/outline/arrows.svg#chevron-left" />
      </svg>
      Volver
    </app-button>

    <div>
      <app-alert
        variant="info"
        [closable]="true"
        [title]="'Para guardar la información y reflejar los cambios, asegúrate de completar todas las secciones del formulario.'">
      </app-alert>
    </div>

    <div class="flex gap-4">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          @for (step of steps; track step.key) {
            <app-button
              variant="primary"
              [styleType]="step.key === activeStep ? 'soft' : 'ghost'"
              size="sm"
              customClass="w-full leading-4"
              [disabled]="!step.enabled"
              (onClick)="goToStep(step.key)">
              <svg width="16" height="16">
                <use [attr.xlink:href]="step.icon" />
              </svg>
              {{ step.label }}
            </app-button>
          }
        </div>
        <div class="flex flex-col gap-4 p-4 rounded-xl bg-blue3h-100 w-[245px]">
          <div class="relative w-[161.6px] h-[220px] mx-auto">
            <img src="assets/img/pqrs/banner.png" alt="Imagen soporte"
            class="w-full h-full object-cover">
            <div class="absolute inset-0 bg-gradient-to-t from-blue3h-100 from-[1%] via-blue3h-100/0 to-transparent to-[75%]"></div>
          </div>
          <span class="text-sm font-semibold leading-4">
            Canal de atención para preguntas, sugerencias o reclamos.
          </span>
          <app-button
            [routerLink]="'/support'"
            variant="primary"
            styleType="solid"
            size="md"
            customClass="w-full flex justify-center leading-4">
            Ir al canal
          </app-button>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        @switch (activeStep) {
          @case ('provider') {
            <app-provider-form
              [form]="providerForm"
              [providerFormFields]="providerFormFields"
              [identificationTypes]="identificationTypes"
              (next)="goToStep('offices', true)">
            </app-provider-form>
          }
          @case ('offices') {
            <app-office-list
              [providerCompanies]="providerCompanies"
              [createdOffices]="createdOffices"
              [updatedOffices]="updatedOffices"
              [deletedOffices]="deletedOffices"
              [existingOffices]="existingOffices"
              (officesChanged)="onOfficesChanged($event)"
              (prev)="goToStep('provider')"
              (next)="goToStep('contacts', true)">
            </app-office-list>
          }
          @case ('contacts') {
            <app-contact-list
              [createdContacts]="createdContacts"
              [updatedContacts]="updatedContacts"
              [deletedContacts]="deletedContacts"
              [existingContacts]="existingContacts"
              (contactsChanged)="onContactsChanged($event)"
              (prev)="goToStep('offices')">
            </app-contact-list>
          }
        }

        <app-backend-errors
          [error]="backendError"
          [grouped]="false">
        </app-backend-errors>
      </div>
    </div>

  </div>
</div>



<nz-row nzJustify="center" class="pb-20">
  <nz-col [nzSpan]="24" [nzMd]="20" [nzLg]="16" [nzXXl]="12">
    <div class="update-data">
      <div class="update-data__header flex flex-col gap-2">
        <h2 class="update-data__header__title text-center my-4">Información prestador</h2>
      </div>

      <form nz-form nzLayout="vertical" [formGroup]="providerForm" (ngSubmit)="onSubmit()">
        <div class="update-data__body">

          <!-- <div nz-row [nzGutter]="16">
            <nz-col [nzSpan]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzRequired]="true" nzFor="email">
                  Correo electrónico del prestador
                  <div
                    nz-tooltip
                    [nzTooltipTitle]="emailTooltip"
                    nzTooltipPlacement="top"
                    nzTooltipOverlayClassName="large-tooltip-custom">
                    <i nz-icon nzType="info-circle" nzTheme="fill" class="info-icon"></i>
                  </div>
                  <ng-template #emailTooltip>
                    @for (msg of emailInfoMessage; track $index) {
                      <p>{{ msg }}</p>
                    }
                  </ng-template>
                </nz-form-label>
                <nz-form-control [nzErrorTip]="emailErrorTip">
                  <ng-template #emailErrorTip>
                    @if (providerForm.controls['email'].hasError('required')) {
                      <p>El campo es requerido.</p>
                    } @else if (providerForm.controls['email'].hasError('invalidEmail')) {
                      <p>Ingresa un correo válido.</p>
                    }
                  </ng-template>
                  <input nz-input id="email" formControlName="email" placeholder="Correo" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </div> -->

          <!-- <button nz-button nzType="primary" type="button" (click)="openOfficeModal(getGlobalIndex(i, officePage, officePageSize))" nz-tooltip nzTooltipTitle="Actualizar"><span nz-icon nzType="edit"></span></button>
          <button nz-button nzDanger nzType="primary" type="button" (click)="deleteOffice(getGlobalIndex(i, officePage, officePageSize))" nz-tooltip nzTooltipTitle="Eliminar"><span nz-icon nzType="delete"></span></button> -->


          <!-- <button nz-button nzType="primary" type="button" (click)="openContactModal(getGlobalIndex(i, contactPage, contactPageSize))" nz-tooltip nzTooltipTitle="Actualizar"><span nz-icon nzType="edit"></span></button>
          <button nz-button nzDanger nzType="primary" type="button" (click)="deleteContact(getGlobalIndex(i, contactPage, contactPageSize))" nz-tooltip nzTooltipTitle="Eliminar"><span nz-icon nzType="delete"></span></button> -->
        </div>

        <div class="update-data__footer">
          <button class="btn-primary bg-green-500 hover:bg-green-500/80" type="submit" [disabled]="loading">Actualizar datos</button>
        </div>
      </form>

    </div>
  </nz-col>
</nz-row>
