.video-load-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;

  .video-load {
      width: 60%; /* Video width */
      max-width: 1280px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .video-container {
          position: relative;
          width: 100%;
          padding-top: 56.25%; /* 16:9 aspect ratio */
          overflow: hidden;
          // background: #000;

          iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border: none;
          }
      }
  }
  .bottom{
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .video-load-section .video-load {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .video-load-section .video-load {
    width: 100%;
  }
}
