
.video-container {
    position: relative;
    display: flex;
    padding: 15px 40px;
    padding-bottom: 50.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 50%;
    // background: #000;
}

.video-container iframe {
    position: absolute;
    display: flex;
    padding: 15px 40px;
    top: 0;
    right: 10%;
    width: 80%;
    height: 90%;
}

.video-load {
    position: relative;   
    width: 80%;
    padding: 1rem;
    height: 80%;
}

.bottom{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;    
}
