<nav class="header-container h-[80px] bg-gray-0 flex justify-center border-b">
  <div class="w-full flex items-center justify-between max-w-screen-2xl py-3 px-4 2xl:py-4 2xl:px-5">
    <a routerLink="/home">
      <img class="h-[48px] cursor-pointer" src="assets/img/logo-hone.png" alt="Logo" />
    </a>

    <div class="flex gap-2">
      <app-popover
        popoverId="infoPopover"
        triggerType="none"
        [contentTemplate]="popoverContent"
        placement="bottom"
        [highlighted]="true"
        [(visible)]="configTutorialVisible"
        extraPopoverClass="max-w-[454px]"
      >
        <ng-template #triggerTemplate
        >
          <div
            data-popover-target="infoPopover"
            data-popover-placement="bottom"
            data-popover-trigger="none"
          >
            <app-button
              (click)="navigateToUpdateData()"
              variant="gray"
              size="sm"
              styleType="soft"
              customClass="leading-4 tutorial-option"
            >
              <span class="truncate max-w-[150px] md:max-w-[310px] hidden sm:block">
                {{user.name ? user.name : 'No reporta nombre'}}
              </span>
              <svg width="16" height="16">
                <use xlink:href="/assets/icons/solid/general.svg#cog" />
              </svg>
            </app-button>
          </div>
        </ng-template>
      </app-popover>

      <!-- <div class="tutorial-option-container"
        [ngClass]="{ 'active-tutorial': configTutorialVisible }">
        <div
          nz-popover
          [nzPopoverContent]="popoverContent"
          [(nzPopoverVisible)]="configTutorialVisible"
          [nzPopoverTrigger]="null"
          nzPopoverPlacement="bottomRight"
          nzPopoverOverlayClassName="tutorial-popover tutorial-popover__header-config"
        >
          <app-button
            (click)="navigateToUpdateData()"
            variant="gray"
            size="sm"
            styleType="soft"
            customClass="leading-4 tutorial-option"
          >
            <span class="truncate max-w-[150px] md:max-w-[310px] hidden sm:block">
              {{user.name ? user.name : 'No reporta nombre'}}
            </span>
            <svg width="16" height="16">
              <use xlink:href="/assets/icons/solid/general.svg#cog" />
            </svg>
          </app-button>
        </div>
      </div> -->

      <app-button
        (click)="logout()"
        variant="primary"
        size="sm"
        styleType="ghost"
        customClass="leading-4"
      >
        <svg width="16" height="16">
          <use xlink:href="/assets/icons/outline/arrows.svg#arrow-left-to-bracket" />
        </svg>
      </app-button>
    </div>
  </div>
</nav>

<!-- Tutorial popover content -->
<ng-template #popoverContent>
  <div class="tutorial-popover__content flex flex-col gap-6">
    <div class="flex flex-col gap-2.5 text-base/5 text-black">
      <div class="flex justify-between items-center">
        <h5 class="font-bold">Actualizar información</h5>

        <button
          type="button"
          class="p-2 rounded-[2.5rem] bg-gray-0 hover:bg-gray-100"
          (click)="nextTutorialStep()"
        >
          <svg width="16" height="16">
            <use xlink:href="/assets/icons/outline/general.svg#close" />
          </svg>
        </button>
      </div>
      <div class="font-normal">
        @if (this.user.rejected) {
          Debes actualizar nuevamente los datos.
        } @else {
          Aquí puedes actualizar la información asociada a tu sede o sedes de prestación de servicios, lo cual permitirá mantener la información correcta en nuestros directorios médicos, así como de contactos asociados al convenio.
        }
      </div>
    </div>
    <div class="flex justify-between items-center">
      <span class="text-base/5 font-normal text-black">1 de 2</span>
      <button
        type="button"
        class="py-2.5 px-5 rounded-[2.5rem] bg-blue1h-100 hover:bg-blue1h-200 text-main-blue1h text-base/5 font-bold"
        (click)="nextTutorialStep()"
      >
        {{ this.user.withData && !this.user.rejected ? 'Siguiente' : 'Ir' }}
      </button>
    </div>
  </div>
</ng-template>

<!-- Popover overlay -->
<!-- <div
  *ngIf="configTutorialVisible"
  class="tutorial-popover-overlay"
  (click)="nextTutorialStep()"
></div> -->
