<section id="header">
    <div class="header-title">
        <!-- <h2>Formulario de asistencia</h2> -->
    </div>
    <div class="card-header">
        <h3 class="header-title">
          <!-- <a class="tilttle">Registro a tu capacitación</a> -->
          <h1 class="tilttle">Registro de tú capacitación</h1>
        </h3>
    </div>
</section>

<section class="container-form">

    <form nz-form nz-row [formGroup]="assistanceProviderForm" class="form-ticket" nzJustify="center" nzAlign="middle"
        [nzGutter]="[12,12]">

        <!-- Campo Nombre ips o profesional -->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <nz-form-item nz-row>
                <nz-form-label class="form-label" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                    <span> <span class="asterisco">*</span>  Nombre ips o profesional </span>
                </nz-form-label>

                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                    [nzErrorTip]="nameProviderErrorTip">
                    <ng-template #nameProviderErrorTip>
                        <p *ngIf="assistanceProviderForm.controls['nameProvider'].hasError('required')">¡Este campo es
                            obligatorio!
                        </p>
                    </ng-template>
                    <input nz-input placeholder="Nombre" formControlName="nameProvider">
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Campo identificacion --> 
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <nz-form-item nz-row>
                <nz-form-label class="form-label" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                    <span><span class="asterisco">*</span>  Identificación</span> 
                </nz-form-label>

                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                    [nzErrorTip]="identificationErrorTip">
                    <ng-template #identificationErrorTip>
                        <p *ngIf="assistanceProviderForm.controls['identification'].hasError('required')">¡Este campo es
                            obligatorio!
                        </p>
                    </ng-template>
                    <input nz-input placeholder="Identificación" formControlName="identification">
                </nz-form-control>
            </nz-form-item>
        </div>
        
        <!-- Campo ciudad -->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <nz-form-item nz-row>
                <nz-form-label class="form-label" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                   <span> <span class="asterisco">*</span>  Ciudad</span>
                </nz-form-label>

                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                    [nzErrorTip]="cityErrorTip">
                    <ng-template #cityErrorTip>
                        <p *ngIf="assistanceProviderForm.controls['city'].hasError('required')">¡Este campo es
                            obligatorio!
                        </p>
                    </ng-template>
                    <input nz-input placeholder="Ciudad" formControlName="city">
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Campo Direccion -->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <nz-form-item nz-row>
                <nz-form-label class="form-label" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                    <span><span class="asterisco">*</span>  Dirección</span>
                </nz-form-label>

                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                    [nzErrorTip]="addressErrorTip">
                    <ng-template #addressErrorTip>
                        <p *ngIf="assistanceProviderForm.controls['address'].hasError('required')">¡Este campo es
                            obligatorio!
                        </p>
                    </ng-template>
                    <input nz-input placeholder="Dirección" formControlName="address">
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Campo Correo -->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <nz-form-item nz-row>
                <nz-form-label class="form-label" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                    <span><span class="asterisco">*</span>  Email</span>
                </nz-form-label>

                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                    [nzErrorTip]="emailErrorTip">
                    <ng-template #emailErrorTip>
                        <p *ngIf="assistanceProviderForm.controls['email'].hasError('required')">¡Este campo es
                            obligatorio!
                        </p>
                        <p *ngIf="assistanceProviderForm.controls['email'].hasError('pattern')">¡El correo no es válido!
                        </p>
                    </ng-template>
                    <input nz-input placeholder="Email" formControlName="email">
                </nz-form-control>
            </nz-form-item>
        </div>


        <!-- Campo Telefono -->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <nz-form-item nz-row>
                <nz-form-label class="form-label" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                    <span><span class="asterisco">*</span>  Telefono</span> 
                </nz-form-label>

                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                    [nzErrorTip]="phoneErrorTip">
                    <ng-template #phoneErrorTip>
                        <p *ngIf="assistanceProviderForm.controls['phone'].hasError('required')">¡Este campo es
                            obligatorio!
                        </p>
                    </ng-template>
                    <input nz-input placeholder="Telefono" formControlName="phone">
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Campo Especialidad -->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <nz-form-item nz-row>
                <nz-form-label class="form-label" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                    <span> <span class="asterisco">*</span>  Especialidad</span>
                </nz-form-label>

                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                    [nzErrorTip]="specialityErrorTip">
                    <ng-template #specialityErrorTip>
                        <p *ngIf="assistanceProviderForm.controls['speciality'].hasError('required')">¡Este campo es
                            obligatorio!
                        </p>
                    </ng-template>                    
                    <input nz-input placeholder="Especialidad" formControlName="speciality">
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Campo asistente -->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <nz-form-item nz-row>
                <nz-form-label class="form-label" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                    <span> Nombre Asistente &nbsp; (Opcional)</span>
                </nz-form-label>

                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">  
                    <input nz-input placeholder="Nombre Asistente" formControlName="nameAssistante">
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Campo Seleccion -->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
           
            <nz-form-label class="form-label" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                <span><span class="asterisco">*</span>  Por favor seleccione la opción actual de su vinculo</span>
            </nz-form-label>
                
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                [nzErrorTip]="provider_newErrorTip">
                <ng-template #provider_newErrorTip>
                    <p *ngIf="assistanceProviderForm.controls['provider_new'].hasError('required')">¡Este campo es
                        obligatorio!
                    </p>
                </ng-template>

                <nz-radio-group [(ngModel)]="provider_new" (ngModelChange)="onRadioChange('new',$event)" formControlName="provider_new" >
                    <label nz-radio nzValue="1" >Prestador Nuevo (firma de contrato reciente)</label>                            
                </nz-radio-group>
            </nz-form-control>
            
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                [nzErrorTip]="provider_attachedErrorTip">
                <ng-template #provider_attachedErrorTip>
                    <p *ngIf="assistanceProviderForm.controls['provider_attached'].hasError('required')">¡Este campo es
                        obligatorio!
                    </p>
                </ng-template>
                
                <nz-radio-group [(ngModel)]="provider_attached" (ngModelChange)="onRadioChange('attached', $event)" formControlName="provider_attached">
                    <label nz-radio nzValue="1" >
                        Prestador ya adscrito (con un vínculo para atención de usuarios de varios meses o años atrás)
                    </label> 
                </nz-radio-group> 
            </nz-form-control>
        </div>

        <!-- Campo Seleccion -->
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <nz-form-item nz-row>
                <nz-form-label class="form-label" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                    <span> <span class="asterisco">*</span>  Ya había asistido anteriormente  a capacitación de producto y facturación? </span>
                </nz-form-label>
                
                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                    [nzErrorTip]="attended_previusErrorTip">
                    <ng-template #attended_previusErrorTip>
                        <p *ngIf="assistanceProviderForm.controls['attended_previus'].hasError('required')">¡Este campo es
                            obligatorio!
                        </p>
                    </ng-template>
                    <nz-radio-group [(ngModel)]="radioValue" formControlName="attended_previus">
                        <label nz-radio nzValue="1">SI</label>
                        <label nz-radio nzValue="0">NO</label>
                    </nz-radio-group>                    
                </nz-form-control>
       
            </nz-form-item>
        </div>

    </form>

</section>