<!-- <div #backdropEl
  (click)="close()"
  (mousedown)="onBackdropMouseDown($event)"
  (mouseup)="onBackdropMouseUp($event)"
  class="fixed inset-0 bg-black/30 z-[60]">
</div> -->

@if (visible) {
  <div #backdropEl
    (click)="close()"
    class="fixed inset-0 z-[60]"
    [ngClass]="{
      'bg-black/30': visible && highlighted,
      'pointer-events-none': !closable,
    }">
  </div>
}


@if (triggerTemplate) {
  <div #triggerEl
    (click)="onTriggerClick()"
    class="relative inline-block"
    before=""
    [ngClass]="{
      'before:absolute before:-top-[5px] before:-left-[5px] before:-right-[5px] before:-bottom-[5px] before:content-[attr(before)] before:z-[60] before:bg-white before:rounded-lg': visible && highlighted,
    }"
    [class]="customPopoverClass">
    <div [ngClass]="{ 'relative z-[70]': visible && highlighted }">
      <ng-container *ngTemplateOutlet="triggerTemplate"></ng-container>
    </div>
  </div>
}

<div
  #popoverEl
  class="absolute z-[60] inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white rounded-xl shadow-xs dark:text-gray-400 dark:bg-gray-800 p-4"
  [attr.data-popover-id]="popoverId"
  [attr.data-popper-placement]="placement"
  [ngClass]="classMap"
>
  @if (title) {
    <h3 class="font-semibold text-gray-900 dark:text-white mb-2">
      {{ title }}
    </h3>
  }
  @if (contentTemplate) {
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  } @else {
    <p>{{ content }}</p>
  }

  <div
    class="popover-arrow"
    [class.highlighted]="highlighted"
    [ngClass]="{
      'before:bg-white before:border before:border-gray-200 before:shadow': !highlighted,
      'before:!bg-white before:dark:!bg-gray-800': true
    }"
    data-popper-arrow
  ></div>
</div>
