.popover-arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  z-index: -1;
}

[data-popper-placement^='top'] > .popover-arrow {
  bottom: -4px;
}
[data-popper-placement^='bottom'] > .popover-arrow {
  top: -4px;
}
[data-popper-placement^='left'] > .popover-arrow {
  right: -4px;
}
[data-popper-placement^='right'] > .popover-arrow {
  left: -4px;
}
[data-popper-placement$='-start'] > .popover-arrow,
[data-popper-placement$='-end'] > .popover-arrow {
  margin-inline-start: 0.5rem;
}
