<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-2 text-main-blue1h">
    <h2 class="text-lg font-semibold leading-5">
      Contacto
    </h2>
    <p class="text-sm leading-4">
      Los datos proporcionados en este formulario serán utilizados para actualizar los directorios de las compañías. Es fundamental que la información sea exacta y vigente.
    </p>
  </div>

  <div class="flex flex-col gap-4 p-4 rounded-xl bg-gray-100">
    <div class="flex items-center justify-between gap-4 text-main-blue1h">
      <h4 class="text-base font-semibold leading-[18px]">Información de contacto</h4>
      <app-button
        (onClick)="openContactModal()"
        variant="primary"
        styleType="soft"
        size="xs">
        <svg width="16" height="16">
          <use xlink:href="/assets/icons/outline/general.svg#plus" />
        </svg>
        Agregar
      </app-button>
    </div>

    <div class="relative overflow-x-auto rounded-xl">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-sm font-semibold leading-4 text-blue1h-950 bg-gray-50 dark:bg-gray-700 dark:text-gray-400 whitespace-nowrap">
          <tr>
            <th scope="col" class="px-4 py-3 font-semibold">
              Área/Cargo
            </th>
            <th scope="col" class="px-4 py-3 font-semibold">
              Nombre
            </th>
            <th scope="col" class="px-4 py-3 font-semibold">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          @if (!existingContacts || !existingContacts.length) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
              <td colspan="3" class="px-4 h-[54px] text-left">
                <div class="text-md text-main-blue1h leading-4 flex items-center gap-2">
                  Aún no has agregado contactos
                </div>
              </td>
            </tr>
          } @else {
            @for (data of existingContacts; let i = $index; track i) {
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <td class="px-4 py-[10.5px]">
                  {{ data.occupationName || data.OccupationForProvider?.occupation || '' }}
                </td>
                <td class="px-4 py-[10.5px]">{{ data.name || 'N/A' }}</td>
                <td class="px-4 py-[10.5px]">
                  <app-button
                    [appDropdownTrigger]="'dropdown-contact-opts-' + i"
                    dropdownPlacement="bottom-end"
                    variant="gray"
                    styleType="soft"
                    size="xs">
                    <svg width="16" height="16">
                      <use xlink:href="/assets/icons/outline/general.svg#dots-horizontal" />
                    </svg>
                  </app-button>
                  <div [id]="'dropdown-contact-opts-' + i" class="z-30 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-[136px] dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
                      <li>
                        <a (click)="viewOffice(i)" data-dropdown-close class="flex items-center gap-3 px-4 py-2 text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                          <svg width="18" height="18" class="text-gray-500">
                            <use xlink:href="/assets/icons/outline/general.svg#close-sidebar" />
                          </svg>
                          Abrir
                        </a>
                      </li>
                      <li>
                        <a (click)="openContactModal(i)" data-dropdown-close class="flex items-center gap-3 px-4 py-2 text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                          <svg width="18" height="18" class="text-gray-500">
                            <use xlink:href="/assets/icons/outline/general.svg#edit" />
                          </svg>
                          Editar
                        </a>
                      </li>
                    </ul>
                    <div class="py-1">
                      <a (click)="deleteContact(i)" data-dropdown-close class="flex items-center gap-3 px-4 py-2 text-sm text-red-500 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                        <svg width="18" height="18">
                          <use xlink:href="/assets/icons/outline/general.svg#trash-bin" />
                        </svg>
                        Eliminar
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>

  <div class="flex justify-between">
    <app-button
      (onClick)="goPrev()"
      variant="primary"
      styleType="ghost"
      size="md">
      <svg width="20" height="20">
        <use xlink:href="/assets/icons/outline/arrows.svg#chevron-left" />
      </svg>
      Atrás
    </app-button>
    <app-button
      (onClick)="onSubmit()"
      variant="primary"
      styleType="solid"
      size="md">
      Guardar
    </app-button>
  </div>
</div>
