<!-- Backdrop -->
@if (isBackdropVisible && isOpen) {
  <div
    class="fixed inset-0 bg-black/30 z-40"
    (click)="onBackdropClick()">
  </div>
}

<!-- Drawer -->
<div role="dialog" aria-modal="true"
  class="fixed bg-white shadow-lg transition-transform duration-300 ease-in-out z-50 max-w-full max-h-full flex flex-col"
  [class]="drawerClasses">

  <!-- Handle bar for mobile -->
  @if (onMobileFull && closable) {
    <div (click)="close()"
      class="flex sm:hidden pt-5 pb-2 cursor-pointer hover:bg-gray-50 justify-center">
      <span class="w-[100px] h-2 mx-auto bg-gray-300 rounded-3xl"></span>
    </div>
  }

  @if (showCloseButton) {
    <button (click)="close()" type="button" class="hidden sm:inline-flex absolute top-3 end-3 text-gray-500 bg-transparent hover:text-gray-950 rounded-lg text-sm items-center justify-center p-0.5"
      [ngClass]="{
        'inline-flex': !onMobileFull,
        'hidden sm:inline-flex': onMobileFull,
      }">
      <svg width="16" height="16">
        <use xlink:href="/assets/icons/outline/general.svg#close" />
      </svg>
      <span class="sr-only">Cerrar</span>
    </button>
  }

  <!-- Header -->
  <div class="flex justify-between items-center p-6 border-b"
    [ngClass]="{
      'pt-2 sm:pt-6': onMobileFull && closable,
    }">
    <ng-content select="[drawer-header]"></ng-content>
  </div>

  <!-- Content -->
  @if (!hasCustomContent) {
    <div class="p-6 overflow-y-auto flex-1">
      <ng-content></ng-content>
    </div>
  }

  <ng-content select="[drawer-custom-content]"></ng-content>

  <!-- Footer -->
  <div class="border-t p-6 shadow-2xl" [class.hidden]="!hasFooter">
    <ng-content select="[drawer-footer]"></ng-content>
  </div>

</div>
