<div class="container pb-4 pt-4 md:pt-12 flex flex-col">

  <div class="h-48 rounded-xl bg-blue-200 relative hidden md:block">
  </div>

  <div class="relative sm:px-4 md:px-28 lg:px-48">
    <div class="relative md:-top-20 max-w-full flex flex-col sm:flex-row items-center sm:items-start gap-6 p-6 bg-gray-50 border-2 border-white rounded-xl shadow-lg">

      <div class="w-24 h-24 relative shrink-0">
        <img
          [src]="userData?.avatar || 'https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg'"
          alt="Perfil"
          class="rounded-full border-4 border-white shadow-lg w-full h-full object-cover"
        />
        <button class="absolute bottom-0 right-0 text-gray-800 bg-white p-1 rounded-full shadow hover:bg-gray-100">
          <svg class="w-[20px] h-[20px]" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M7.5 4.586A2 2 0 0 1 8.914 4h6.172a2 2 0 0 1 1.414.586L17.914 6H19a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h1.086L7.5 4.586ZM10 12a2 2 0 1 1 4 0 2 2 0 0 1-4 0Zm2-4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Z" clip-rule="evenodd"/>
          </svg>
        </button>
      </div>

      <div class="flex-1 flex flex-col gap-2 sm:mt-1">
        <h1 class="text-xl font-bold text-gray-800">
          {{ userData?.fullName || 'Nombre de Usuario' }}
        </h1>
        <span class="text-sm text-gray-500 break-all w-full">
          {{ userData?.email || 'correo@example.com' }}
        </span>

        <div class="pt-2">
          <nz-tabset [(nzSelectedIndex)]="selectedIndex" (nzSelectedIndexChange)="onTabChange($event)">
            <nz-tab nzTitle="Perfil"></nz-tab>
            <nz-tab nzTitle="Seguridad"></nz-tab>
          </nz-tabset>
        </div>
      </div>
    </div>

    <div class="relative top-6 md:-top-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
