<form nz-form nzLayout="vertical" [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="address-form">
  <nz-row [nzGutter]="8">
    <nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="5">
      <nz-form-item>
        <nz-form-label nzRequired>Tipo de vía</nz-form-label>
        <nz-form-control nzErrorTip="Requerido.">
          <nz-select nzSize="small" nzAllowClear formControlName="typeOfRoad" nzPlaceHolder="Seleccione">
            <nz-option *ngFor="let option of viaOptions" [nzValue]="option" [nzLabel]="option"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="9">
      <nz-form-item>
        <nz-form-label nzRequired>Nombre/número de vía</nz-form-label>
        <nz-form-control [nzErrorTip]="roadNameErrorTip">
          <ng-template #roadNameErrorTip>
            @if (addressForm.controls['roadName'].hasError('required')) {
              Requerido.
            } @else if (addressForm.controls['roadName'].hasError('invalidRoadName')) {
              {{ addressForm.controls['roadName'].errors?.['invalidRoadName'] }}
            }
          </ng-template>
          <input nz-input nzSize="small" formControlName="roadName" placeholder="Ej: 13, Circunvalar" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="4">
      <nz-form-item>
        <nz-form-label>Letra/Bis</nz-form-label>
        <nz-form-control>
          <nz-select nzSize="small" nzAllowClear formControlName="roadMainComplement" nzPlaceHolder="Opcional">
            <nz-option *ngFor="let option of lettersWithBis" [nzValue]="option" [nzLabel]="option"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="6">
      <nz-form-item>
        <nz-form-label>Complemento vía</nz-form-label>
        <nz-form-control>
          <nz-select nzSize="small" nzAllowClear formControlName="roadSecondaryComplement" nzPlaceHolder="Opcional">
            <nz-option *ngFor="let option of allNumberComplementOptions" [nzValue]="option" [nzLabel]="option"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-row [nzGutter]="8">
    <nz-col [nzSpan]="1" class="flex pt-6 sm:justify-center">#</nz-col>

    <nz-col [nzSpan]="11" [nzSm]="11" [nzMd]="5">
      <nz-form-item>
        <nz-form-label nzRequired>Número</nz-form-label>
        <nz-form-control nzErrorTip="Ingrese un número de máximo 3 dígitos">
          <input nz-input nzSize="small" formControlName="mainNumber" placeholder="Ej: 13" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
      <nz-form-item>
        <nz-form-label>
          Complemento
          <div
            nz-tooltip
            nzTooltipTitle="Si no esta el complemento de tu dirección puedes seleccionar la opción de 'Otro Valor' para digitarlo"
            nzTooltipPlacement="top">
            <i nz-icon nzType="info-circle" nzTheme="fill" class="info-icon"></i>
          </div>
        </nz-form-label>
        <nz-form-control>
          <nz-select nzSize="small" nzAllowClear formControlName="mainNumberComplement" nzPlaceHolder="Opcional">
            <nz-option [nzValue]="otherOption" [nzLabel]="otherOption"></nz-option>
            <nz-option *ngFor="let option of lettersWithBis" [nzValue]="option" [nzLabel]="option"></nz-option>
          </nz-select>
        </nz-form-control>
        @if (addressForm.get('mainNumberComplement')?.value === otherOption) {
          <nz-form-control [nzErrorTip]="customMainComplementErrorTip">
            <ng-template #customMainComplementErrorTip>
              @if (addressForm.controls['customMainNumberCompl'].hasError('invalidAlphanumWithSpaces')) {
                Debe ser alfanumérico
              } @else if (addressForm.controls['customMainNumberCompl'].hasError('maxlength')) {
                Máximo 15 carácteres
              }
            </ng-template>
            <input
              nz-input
              nzSize="small"
              formControlName="customMainNumberCompl"
              placeholder="Ingrese otro valor"
              maxlength="15"
            />
          </nz-form-control>
        }
      </nz-form-item>

    </nz-col>

    <nz-col [nzSpan]="1" class="flex pt-6 sm:justify-center">-</nz-col>

    <nz-col [nzSpan]="11" [nzSm]="11" [nzMd]="5">
      <nz-form-item>
        <nz-form-label nzRequired>2do número</nz-form-label>
        <nz-form-control nzErrorTip="Ingrese un número de máximo 3 dígitos">
          <input nz-input nzSize="small" formControlName="secondaryNumber" placeholder="Ej: 23" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
      <nz-form-item>
        <nz-form-label>
          Complemento
          <div
            nz-tooltip
            nzTooltipTitle="Si no esta el complemento de tu dirección puedes seleccionar la opción de 'Otro Valor' para digitarlo"
            nzTooltipPlacement="top">
            <i nz-icon nzType="info-circle" nzTheme="fill" class="info-icon"></i>
          </div>
        </nz-form-label>
        <nz-form-control>
          <nz-select nzSize="small" nzAllowClear formControlName="secondaryNumberComplement" nzPlaceHolder="Opcional">
            <nz-option [nzValue]="otherOption" [nzLabel]="otherOption"></nz-option>
            <nz-option *ngFor="let option of allNumberComplementOptions" [nzValue]="option" [nzLabel]="option"></nz-option>
          </nz-select>
        </nz-form-control>
        @if (addressForm.get('secondaryNumberComplement')?.value === otherOption) {
          <nz-form-control [nzErrorTip]="customMainComplementErrorTip">
            <ng-template #customMainComplementErrorTip>
              @if (addressForm.controls['customSecNumberCompl'].hasError('invalidAlphanumWithSpaces')) {
                Debe ser alfanumérico
              } @else if (addressForm.controls['customSecNumberCompl'].hasError('maxlength')) {
                Máximo 15 carácteres
              }
            </ng-template>
            <input
              nz-input
              nzSize="small"
              formControlName="customSecNumberCompl"
              placeholder="Ingrese otro valor"
              maxlength="15"
            />
          </nz-form-control>
        }
      </nz-form-item>
    </nz-col>

  </nz-row>

  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label nzRequired>Barrio</nz-form-label>
        <nz-form-control nzErrorTip="Requerido.">
          <input nz-input nzSize="small" formControlName="neighborhood" placeholder="Ej: Santa Mónica" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label>Complemento de dirección</nz-form-label>
        <nz-form-control [nzValidateStatus]="addressForm.controls['addressMainNameComplement']"
        nzErrorTip="Número/nombre requerido.">
          <nz-row>
            <nz-col [nzSpan]="24" [nzSm]="addressForm.get('addressMainComplement')?.value ? 9 : 24">
              <nz-select nzSize="small" nzAllowClear formControlName="addressMainComplement" nzPlaceHolder="Opcional">
                <nz-option *ngFor="let option of addressMainComplementOptions" [nzValue]="option" [nzLabel]="option"></nz-option>
              </nz-select>
            </nz-col>
            @if (addressForm.get('addressMainComplement')?.value) {
              <nz-col [nzSpan]="24" [nzSm]="15">
                <input nz-input nzSize="small" formControlName="addressMainNameComplement" placeholder="Número o nombre" />
              </nz-col>
            }
          </nz-row>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label>2do complemento de dirección</nz-form-label>
        <nz-form-control [nzValidateStatus]="addressForm.controls['addressSecondaryNameComplement']" nzErrorTip="Número/nombre requerido.">
          <nz-row>
            <nz-col [nzSpan]="24" [nzSm]="addressForm.get('addressSecondaryComplement')?.value ? 9 : 24">
              <nz-select nzSize="small" nzAllowClear formControlName="addressSecondaryComplement" nzPlaceHolder="Opcional">
                <nz-option *ngFor="let option of addressSecondaryComplementOptions" [nzValue]="option" [nzLabel]="option"></nz-option>
              </nz-select>
            </nz-col>
            @if (addressForm.get('addressSecondaryComplement')?.value) {
              <nz-col [nzSpan]="24" [nzSm]="15">
                <input nz-input nzSize="small" formControlName="addressSecondaryNameComplement" placeholder="Número o nombre" />
              </nz-col>
            }
          </nz-row>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

  </nz-row>

  <nz-form-item>
    <nz-form-label class="font-semibold">Dirección Formateada</nz-form-label>
    <nz-form-control>
      <input nz-input [value]="formattedAddress" disabled />
    </nz-form-control>
  </nz-form-item>


  <div nz-row nzJustify="end" class="mt-5">
    <button nz-button nzType="primary" type="submit">Guardar</button>
  </div>
</form>
