<div #menuContainer class="fixed left-auto right-0 top-[368px] sm:top-1/2 z-30">
  <div
    (mouseenter)="handleMouseEnter()"
    (mouseleave)="handleMouseLeave()"
    (click)="toggleMenu(); $event.stopPropagation()"
    class="w-[3.25rem] bg-gray-100 shadow-[inset_1px_1px_0_0_theme(colors.blue.700),inset_0_-1px_0_0_theme(colors.blue.700)] rounded-l-lg overflow-hidden flex flex-col"
  >
    <div class="h-[3.125rem] w-full bg-blue-700 flex items-center justify-center p-1 shrink-0 relative z-10
      transition-colors duration-300 hover:bg-blue-600">
      <svg class="w-11 h-[2.625rem] text-white">
        <use xlink:href="/assets/icons/extras/customs.svg#font-scale" />
      </svg>
    </div>

    <div
      [ngClass]="{
        'max-h-[10rem] opacity-100 p-1': isOpen,
        'max-h-0 opacity-0 p-0': !isOpen
      }"
      class="flex flex-col items-center justify-center transition-all duration-300 ease-in-out"
    >
      <app-button
        (onClick)="setFontScale(false); $event.stopPropagation()"
        [disabled]="currentScaleLevel <= MIN_SCALE_LEVEL"
        variant="gray"
        styleType="ghost"
        customClass="!p-2.5"
      >
        <svg class="w-6 h-6">
          <use xlink:href="/assets/icons/extras/customs.svg#negative-font" />
        </svg>
      </app-button>

      <app-button
        (onClick)="setFontScale(true); $event.stopPropagation()"
        [disabled]="currentScaleLevel >= MAX_SCALE_LEVEL"
        variant="gray"
        styleType="ghost"
        customClass="!p-2.5"
      >
        <svg class="w-6 h-6">
          <use xlink:href="/assets/icons/extras/customs.svg#positive-font" />
        </svg>
      </app-button>
    </div>
  </div>
</div>
