<section>
    <div class="image">
        <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
            <img [src]=" '../../../../assets/img/todoBien.png' " alt="image" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24"
                [nzLg]="18" [nzXl]="18" [nzXXl]="18">
        </div>
    </div>
</section>

<section class="paragraph1">
    <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <p class="text">Su Ticket ha sido creado con Éxito, antes de 48 Horas nos contactaremos formalmente con usted, para dar solición a su requerimiento </p>
        </div>
    </div>
</section>

<section class="paragraph2">
    <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[12,12]">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <p class="text">¡Gracias por Preferirnos!</p>
        </div>
    </div>
</section>

<section id="footer">
    <div class="footer">
        <button nz-button nzJustify="center" nzType="primary" (click)="close()">Aceptar</button>        
    </div>
</section>