<section class="container-form">


    <section class="form-section">

        <form nz-form [formGroup]="documentForm" (ngSubmit)="submitRequest()" class="form-login">

            <!-- Campo Nombre de Documento -->
            <!-- <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="documentType == 4 || documentType == 12">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Nombre documento
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="nombreDocErrorTip">
                        <ng-template #nombreDocErrorTip>
                            <p *ngIf="documentForm.controls['nombredocumento'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <input nz-input type="date" placeholder="Nombre" formControlName="nombredocumento">
                    </nz-form-control>

                </nz-form-item>
            </div> -->

            <!-- Software -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('software')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Software
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="softwareErrorTip">
                        <ng-template #softwareErrorTip>
                            <p *ngIf="documentForm.controls['software'].hasError('required')">
                              ¡Este campo es obligatorio!
                            </p>
                        </ng-template>
                        <nz-select
                          id="software"
                          formControlName="software"
                          nzPlaceHolder="Seleccionar"
                        >
                          <nz-option *ngFor="let type of suraSoftwareTypes" [nzValue]="type" [nzLabel]="type"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <!-- Campo Fecha de Expedición -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('fechadedocumento')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha de Expedición
                        <div *ngIf="expeditionDateRestrictions[documentType]" nz-tooltip [nzTooltipTitle]="getExpeditionTooltipContent()" nzTooltipPlacement="top">
                          <i nz-icon nzType="info-circle" nzTheme="fill" class="info-icon"></i>
                        </div>
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="fechadedocumentoErrorTip">
                        <ng-template #fechadedocumentoErrorTip>
                            <p *ngIf="documentForm.controls['fechadedocumento'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="fechadedocumento"
                          [disableDates]="disableExpeditionDates">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Fecha de Diligenciamiento -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('dateDiligence')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha de Diligenciamiento
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="dateDiligenceErrorTip">
                        <ng-template #dateDiligenceErrorTip>
                            <p *ngIf="documentForm.controls['dateDiligence'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="dateDiligence">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <!-- Campo Fecha de Inicio -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('dateFirm')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha de Inicio
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="dateFirmErrorTip">
                        <ng-template #dateFirmErrorTip>
                            <p *ngIf="documentForm.controls['dateFirm'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="dateFirm">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Fecha de Vacunación -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('dateVaccination')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha de Vacunación
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="dateVaccinationErrorTip">
                        <ng-template #dateVaccinationErrorTip>
                            <p *ngIf="documentForm.controls['dateVaccination'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="dateVaccination">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Fecha de Vencimiento -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('dueDate')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha de Vencimiento
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="dueDateErrorTip">
                        <ng-template #dueDateErrorTip>
                            <p *ngIf="documentForm.controls['dueDate'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="dueDate">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Nombre del Representante Legal -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('legalRepresentative')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Nombre del Representante Legal
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="legalRepresentativeErrorTip">
                        <ng-template #legalRepresentativeErrorTip>
                            <p *ngIf="documentForm.controls['legalRepresentative'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <input nz-input placeholder="Nombre" formControlName="legalRepresentative">
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Nombre Suplente/s -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('NameAlternate')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Suplente/s
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="NameAlternateErrorTip">
                        <ng-template #NameAlternateErrorTip>
                            <p *ngIf="documentForm.controls['NameAlternate'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <input nz-input placeholder="Suplente/s" formControlName="NameAlternate">
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Fecha de Entrega del Documento -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('documentDeliveryDate')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha de Entrega del Documento
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="documentDeliveryDateErrorTip">
                        <ng-template #documentDeliveryDateErrorTip>
                            <p *ngIf="documentForm.controls['documentDeliveryDate'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="documentDeliveryDate">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Fecha de Nacimiento -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('dateOfBirth')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha de Nacimiento
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="dateOfBirthErrorTip">
                        <ng-template #dateOfBirthErrorTip>
                            <p *ngIf="documentForm.controls['dateOfBirth'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="dateOfBirth">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Fecha de Consulta -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('consultationDate')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha de Consulta
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="consultationDateErrorTip">
                        <ng-template #consultationDateErrorTip>
                            <p *ngIf="documentForm.controls['consultationDate'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="consultationDate">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Especialidad Avalada -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('endorsedSpecialtyDate')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Especialidad Avalada
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="endorsedSpecialtyDateErrorTip">
                        <ng-template #endorsedSpecialtyDateErrorTip>
                            <p *ngIf="documentForm.controls['endorsedSpecialtyDate'].hasError('required')">¡Este campo
                                es
                                obligatorio!
                            </p>
                        </ng-template>
                        <input nz-input placeholder="Especialidad" formControlName="endorsedSpecialtyDate">
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Fecha de Inicio de Vigencia -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('validityStartDate')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha de Inicio de Vigencia
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="validityStartDateErrorTip">
                        <ng-template #validityStartDateErrorTip>
                            <p *ngIf="documentForm.controls['validityStartDate'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="validityStartDate">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Fecha de Realización -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('dateofRealization')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha de Realización
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="dateofRealizationErrorTip">
                        <ng-template #dateofRealizationErrorTip>
                            <p *ngIf="documentForm.controls['dateofRealization'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="dateofRealization">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Fecha de Recepción -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('receptionDate')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha de Recepción
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="receptionDateErrorTip">
                        <ng-template #receptionDateErrorTip>
                            <p *ngIf="documentForm.controls['receptionDate'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="receptionDate">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Fecha última dosimetria -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('lastDosimetryDate')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Fecha última dosimetria
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="lastDosimetryDateErrorTip">
                        <ng-template #lastDosimetryDateErrorTip>
                            <p *ngIf="documentForm.controls['lastDosimetryDate'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <app-date-picker-input
                          formControlName="lastDosimetryDate">
                        </app-date-picker-input>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Nombre de la Entidad -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('epsName')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Nombre de la Entidad
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="epsNameErrorTip">
                        <ng-template #epsNameErrorTip>
                            <p *ngIf="documentForm.controls['epsName'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <ng-container [ngSwitch]="documentType">
                          <input *ngSwitchDefault nz-input placeholder="Nombre" formControlName="epsName">
                          <nz-select
                            *ngSwitchCase="135"
                            id="epsName"
                            formControlName="epsName"
                            nzPlaceHolder="Seleccionar"
                          >
                            <nz-option *ngFor="let entity of suraArlEntities" [nzValue]="entity" [nzLabel]="entity"></nz-option>
                          </nz-select>
                        </ng-container>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Clasificación de Riesgo -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('riskClassifier')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Clasificación de Riesgo
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="riskClassifierErrorTip">
                        <ng-template #riskClassifierErrorTip>
                            <p *ngIf="documentForm.controls['riskClassifier'].hasError('required')">¡Este campo es
                                obligatorio!
                            </p>
                        </ng-template>
                        <nz-select formControlName="riskClassifier" nzPlaceHolder="Seleccionar">
                          <nz-option *ngFor="let option of riskClassifierOptions" [nzValue]="option" [nzLabel]="option"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo Nombre de Entidad -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('resolutionOfThePension')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Nombre de Entidad
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="resolutionOfThePensionErrorTip">
                        <ng-template #resolutionOfThePensionErrorTip>
                            <p *ngIf="documentForm.controls['resolutionOfThePension'].hasError('required')">¡Este campo
                                es
                                obligatorio!
                            </p>
                        </ng-template>
                        <input nz-input placeholder="Nombre" formControlName="resolutionOfThePension">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <!-- Campo Valor Póliza / Monto -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                *ngIf="isFieldRequiredForDocumentType('amountPolicy')">
                <nz-form-item nz-row>
                    <nz-form-label class="form-label" nzRequired [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24"
                        [nzXl]="24">
                        Valor Póliza
                        @if (hasAmountPolicyValidation()) {
                          <div (click)="amountPolicyInfoAlert()" class="cursor-pointer">
                            <i nz-icon nzType="info-circle" nzTheme="fill" class="info-icon"></i>
                          </div>
                        }
                    </nz-form-label>

                    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                        [nzErrorTip]="amountPolicyErrorTip">
                        <ng-template #amountPolicyErrorTip>
                            <p *ngIf="documentForm.controls['amountPolicy'].hasError('required')">
                              ¡Este campo es obligatorio!
                            </p>
                        </ng-template>
                        <input
                          nz-input
                          type="text"
                          name="amountPolicy"
                          id="amountPolicy"
                          formControlName="amountPolicy"
                          (input)="onAmountPolicyChange()"
                          (focus)="amountPolicyInfoAlert(true)"
                          autocomplete="off"
                          placeholder="Valor Póliza"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>


            <!-- Campo documento -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
                <span *ngIf="loadFile">{{loadedFile ? loadedFile.name : ''}}</span>
                <label id="upload" class="row-doc btn rounded">
                    <input
                      type="file" name="file"
                      id="upload-file"
                      class="custom-file-input"
                      appFileValidator
                      [allowedExtensions]="clientSelected?.idClientHoneSolutions === 13 ? ['.pdf'] : []"
                      [maxFileSizeMB]="7"
                      (fileValidated)="loadFile($event)"
                      hidden>
                    <img src="../../../../../assets/img/folder.png" alt="" srcset="">
                    Clic para cargar
                </label>
            </div>

            <nz-alert
                *ngIf="documentType == 131"
                class="mt-3"
                nzType="warning"
                nzMessage="Debes de consolidar los certificados en un solo pdf."
            ></nz-alert>

            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                style="text-align: center; margin-top: 3rem;">
                <button type="submit" nz-button nzType="primary" class="btn-primary custom-btn" [disabled]="false"
                    [nzLoading]="loader" nz-popover nzPopoverTitle="" nzJustify="center"
                    nzAlign="middle" [nzPopoverContent]="enablePopoverMessage">
                    <ng-template #enablePopoverMessage>
                        <span>Haga clic para guardar los datos</span>
                    </ng-template>
                    Actualizar
                </button>
            </div>

        </form>
    </section>
</section>
