<div class="flex flex-col items-center justify-center min-h-[100vh] bg-gray-100">
  <div class="bg-white py-6 px-9 rounded-lg shadow-md w-full max-w-[90vw] md:max-w-[600px]  mt-[-8rem]">
      <div class="flex justify-center mb-4">
          <img src="assets/img/logo-hone.png" alt="Logo" class="w-24">
      </div>

      @if (step === 0) {
        <div class="text-center mb-4">
          <h2 class="text-xl font-semibold text-gray-700">Encuentra tu usuario</h2>
          <p class="text-gray-600 mt-2">
            Introduce el correo electrónico de tu cuenta para actualizar tu contraseña.
          </p>
        </div>
        <form nz-form nzLayout="vertical" [formGroup]="emailForm" (ngSubmit)="sendEmail()">
          <nz-form-item>
            <nz-form-label nzRequired>Correo electrónico</nz-form-label>
            <nz-form-control [nzErrorTip]="emailErrorTip">
              <ng-template #emailErrorTip>
                @if (emailForm.get('email')?.hasError('required')) {
                  <p>El campo es requerido.</p>
                }
              </ng-template>
              <input nz-input type="email" formControlName="email" placeholder="Correo electrónico" />
            </nz-form-control>
          </nz-form-item>

          <div class="flex justify-end gap-3 pt-6">
            <button nz-button nzType="default" type="button" (click)="onCancel()">Cancelar</button>
            <button nz-button nzType="primary" type="submit">Siguiente</button>
          </div>
        </form>

      } @else if (step === 1) {
        <div class="text-center mb-4">
          <h2 class="text-xl font-semibold text-gray-700">Código de verificación</h2>
          <p class="text-gray-600 mt-2">
            Introduce el código de verificación de 6 dígitos que te enviamos al correo electrónico.
          </p>
        </div>
        <app-verification-code-form
          [showResend]="true"
          [loading]="loading"
          (submitCode)="verifyCode($event)"
          (resend)="resendCode($event)"
          (cancel)="onCancel()"
        />

      } @else if (step === 2) {
        <div class="text-center mb-4">
          <h2 class="text-xl font-semibold text-gray-700">Actualiza tu contraseña</h2>
          <p class="text-gray-600 mt-2">
            Selecciona una nueva contraseña. Al cambiarla, todas tus sesiones activas se cerrarán.
          </p>
        </div>

        <app-new-password-form
          [showCancelButton]="true"
          (submitPassword)="resetPassword($event)"
          (cancel)="onCancel()">
        </app-new-password-form>
      }

  </div>
</div>
