<div class="generalContainer">
    <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[24,32]">

        <div nz-col class="gutter-row">
            <div nz-row nzJustify="center" class="banner-home">
                <h1 nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24">
                    Estimado Prestador, Bienvenido(a) a tu portal transaccional de actualización de documentos <br>
                </h1>
                <span nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24">
                  <b>{{user.name ? user.name : 'No reporta nombre'}}</b>
                </span>
                <p nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24">
                    Identificamos que tienes convenio con las siguientes compañías aliadas, por favor te invitamos a dar clic sobre el logo de la compañía en la que requieres actualizar documentos.

                </p>
                <br>
                <p nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24">
                    Recuerda que Hone Solutions es operador de varias compañías a nivel nacional y tu información se encuentra debidamente protegida según normativa vigente. Sí deseas actualizar información de los demás convenios puedes realizarlo solo dando clic en los logos disponibles a continuación.
                </p>

            </div>
        </div>
    </div>

    @if (loadingData) {

    <div class="centerContent">
        <nz-spin nzSimple [nzSize]="'large'" nzTip="Cargando datos..."></nz-spin>
    </div>
    }

    <div>
      <button nz-button nzType="primary" [nzSize]="'large'" type="button" routerLink="/update-data">
        <span nz-icon nzType="setting" nzTheme="outline"></span>Actualizar información
      </button>
    </div>

    @if (!loadingData) {
    <div class="container-grid">
        @for (item of clientList; track $index) {
        <div class="card-custom" (click)="changeOptionClient(item)">
            <img [src]="item.url ? item.url : defaultImageUrl" alt="">
            <span>{{ item.url ? '' : item.clientHoneSolutions}}</span>
        </div>
        }
    </div>
    <!-- <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="[24,32]">
        @for (item of clientList; track $index) {
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" class="gutter-row">
            <div nz-row nzJustify="center" class="card-custom" (click)="changeOptionClient(item)">
                <img nz-col [src]="item.url ? item.url : defaultImageUrl" alt="">
                <span nz-col>{{ item.url ? '' : item.clientHoneSolutions}}</span>
            </div>
        </div>
        }
    </div> -->
    }

</div>
