/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Import ng-zorro styles */
@import "../node_modules/ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "../node_modules/ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */
@import "assets/styles/global.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "scss/utilities";
@import "scss/reset";


:root{
  transition-duration: 0.3s;
  animation-duration: 0.3s;
}

body{
  // font-family: 'Lato';
  font-family: 'Montserrat', sans-serif;
}

@layer utilities {
  @property --border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes border-angle-rotate {
    from { --border-angle: 0deg; }
    to { --border-angle: 360deg; }
  }

  .animated-border {
    --border-angle: 0deg;
    border-radius: 2.5rem;
    border: 0.25rem solid transparent;
    background: linear-gradient(white, white) padding-box,
      conic-gradient(from var(--border-angle), var(--color-blue1h-500) 10%, white) border-box;
    animation: border-angle-rotate 2s infinite linear;
  }
}


/* Second animation */
@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}
@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}
.conic-gradient-border {
  // position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  overflow: hidden;
}
.conic-gradient-border::before {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: inherit;
  background: conic-gradient(
    from var(--angle),
    rgba(168, 239, 255, 0.1),
    var(--color-blue1h-500) 0.1turn,
    var(--color-blue1h-500) 0.15turn,
    rgba(168, 239, 255, 0.1) 0.25turn
  );
  animation: borderRotate 2.5s linear infinite;
  z-index: 0;
}
.conic-gradient-border::after {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: inherit;
  background: white;
  z-index: 1;
}
.conic-gradient-border > * {
  position: relative;
  z-index: 2;
}
