/* .ant-popover-inner-content{
  padding: 0!important;
} */
.ant-modal{
  .ant-modal-content {
    // .ant-modal-close-x{
    //   width: 40px;
    //   height: 40px;
    //   background-color: #477AD2;
    //   color: white;
    //   position: absolute;
    //   top: -20px;
    //   right: -20px;
    //   border-radius: 50%;
    //   .anticon{
    //     position: absolute;
    //     top: 30%;
    //     left: 30%;
    //   }
    // }
    .ant-modal-footer{
      display: none !important;
    }
  }
}

.ant-alert {
  border-radius: 5px;
  padding: 10px 15px;
  &.ant-alert-warning {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    .ant-alert-message {
      color: #856404;
    }
  }
  &.ant-alert-error {
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    .ant-alert-message {
      color: #842029;
    }
  }
  &.ant-alert-success {
    background-color: #e9f7ef;
    border: 1px solid #c3e6cb;
    .ant-alert-message {
      color: #155724;
    }
  }
  &.ant-alert-info {
    background-color: #cff4fc;
    border: 1px solid #b6effb;
    .ant-alert-message {
      color: #055160;
    }
  }
}
