.warning-message {
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.verification-code-input {
  font-size: 20px;
  // font-size: 24px;
  text-align: center;
  letter-spacing: 0.3em;
  // letter-spacing: 8px;
  padding: 10px;
  width: 100%;
  // max-width: 250px;
  box-sizing: border-box;
  @media (max-width: 480px) {
    font-size: 18px;
    letter-spacing: 0.2em;
    padding: 8px;
  }
}

.responsive-table {
  .ant-table-content {
    overflow: auto;
  }
}

.info-icon {
  margin-left: 0.5rem;
}

/* Hide scrollbar without losing touch scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.dragover {
  border-color: var(--color-blue-500);
  background-color: var(--color-blue-50);
}
