.warning-message {
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.responsive-table {
  .ant-table-content {
    overflow: auto;
  }
}

.info-icon {
  margin-left: 0.5rem;
}

/* Hide scrollbar without losing touch scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.dragover {
  border-color: var(--color-blue-500);
  background-color: var(--color-blue-50);
}
