/* Variables de colores Homecenter para Ghumana*/

/*Variantes de colores primarios*/
@color-primary-blue: #27395b;
@color-primary-blue-light: #4f5b8a;
@color-primary-blue-dark: #424c75;
@color-primary-blue-ash: #19477c;
@color-primary-red: #DD0021;
@color-primary-red-shaded: #AC0111;
@color-primary-red-dark: #770012;
@color-primary-red-light: #F7CAC8;
@color-neutral-gray: #333333;
@color-primary-gray: #606060;
@color-neutral-gray-cold: #595959;
@color-neutral-gray-medium: #8C8C8C;
@color-neutral-gray-warm: #BFBFBF;
@color-neutral-gray-light: #F5F5F5;
@color-neutral-white: #FFFFFF;
@color-primary-yellow: #FBD600;
@color-secondary-orange-base: #EFAE30;
@color-secondary-orange-dark: #866404;
@color-secondary-orange-light: #FCF5CB;
@color-secondary-green-base: #008A00;
@color-secondary-green-dark: #155724;
@color-secondary-green-light: #D7F0D9;
@color-neutral-black: #000000;


//Variantes de colores para notificaciones*/
@color-notification-warning: var(--color-secondary-orange-base);
@color-notification-warning-dark: var(--color-secondary-orange-dark);
@color-notification-warning-light: var(--color-secondary-orange-light);
@color-notification-success: var(--color-secondary-green-base);
@color-notification-success-dark: var(--color-secondary-green-dark);
@color-notification-success-light: var(--color-secondary-green-light);
@color-notification-danger: var(--color-primary-red);
@color-notification-danger-dark: #721C24;
@color-notification-danger-light: var(--color-primary-red-light);
@color-notification-info: var(--color-primary-blue);
@color-notification-info-dark: #004085;
@color-notification-info-light: #CFDCF3;

//Variantes de colores para soporte
@color-link: var(--color-primary-blue);
@color-support-express: #E56A17;
@color-support-imported: #B50093;
@color-support-question: #5426C2;

//Fuente oficial homecenter
@principal-font: 'BundayCleanYYY-SeBoldUp', 'Lato';

//Inputs
@border-input-radius: 2px;

//Cajas de texto
@border-box-radius: 2px;
@border-box-style: double;

//Variables de colores diseño figma
@color-value-data: #BDD6FB;
@color-text-label: #797979;
@color-input-border: #6AA2F7;

//========================== Clases globales ===============================