@if (visible) {
  <div role="alert" [@fade]
    [ngClass]="['flex items-center p-4 rounded-lg', colorMap[variant]]">
    <div class="flex flex-col gap-1.5">
      <div class="flex gap-3 items-center">
        <svg class="w-4 h-4">
          <use [attr.xlink:href]="iconPath" />
        </svg>

        <p class="flex-1 text-sm font-semibold leading-4">
          {{ title }}
        </p>

        @if (closable) {
          <button type="button" (click)="close()" aria-label="Close">
            <svg class="w-6 h-6">
              <use xlink:href="/assets/icons/outline/general.svg#close" />
            </svg>
          </button>
        }
      </div>

      @if (text) {
        <p class="text-sm leading-4">{{ text }}</p>
      }

      <ng-content select="[extra-content]"></ng-content>
    </div>
  </div>
}
